Repository TryEverything920609/trqc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KATT, @trpc-bot, @skarab42, @Lilja

.github/CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners


* @KATT


**/package.json @trpc-bot @KATT
**/yarn.lock @trpc-bot @KATT

**/*fastify* @skarab42 @KATT
**/*lambda* @Lilja @KATT

migrate server docs to v10 (#2172)
  www/docs/server/authorization.md
  www/docs/server/aws-lambda.md
  www/docs/server/caching.md
  www/docs/server/context.md
  www/docs/server/data-transformers.md
  www/docs/server/error-formatting.md
  www/docs/server/error-handling.md
  www/docs/server/express.md
  www/docs/server/fastify.md
  www/docs/server/fetch.md
  www/docs/server/infer-types.md
  www/docs/server/merging-routers.md
  www/docs/server/metadata.md
  www/docs/server/middlewares.md
  www/docs/server/output-validation.md
  www/docs/server/router.md
Owners: @KATT, @Lilja, @skarab42

feat(www): migrates client docs to v10 (#2171)
  www/docs/client/header.md
  www/docs/client/links.md
  www/docs/client/vanilla.md
Owners: @KATT

Update middlewares.md (#2175)
  www/docs/server/middlewares.md
Owners: @KATT

hide out-of-date gif & videos (#2176)
  www/docs/main/awesome-trpc.mdx
  www/docs/main/introduction.mdx
  www/docusaurus.config.js
  www/src/pages/index.tsx
Owners: @KATT

fix github links to `/tree/next` for now
  www/docusaurus.config.js
Owners: @KATT

mv readmes to root
  examples/express-trpc-shield/README.md
  examples/kitchen-sink/README.md
  examples/trpc-openapi/README.md
Owners: @KATT

Update example-apps.md (#2178)
  www/docs/main/example-apps.md
Owners: @KATT

Next merge 2022 07 13 (#2177)
  .all-contributorsrc
  README.md
Owners: @KATT

chore(deps): use packageManager field (#2184)
  package.json
Owners: @trpc-bot, @KATT

docs: update quickstart to be v10 compatible (#2183)
  www/docs/main/quickstart.mdx
Owners: @KATT

migrate nextjs docs -> v10 (#2186)
  www/docs/nextjs/introduction.md
  www/docs/nextjs/ssg.md
  www/docs/nextjs/ssr.md
Owners: @KATT

v9.26.0
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter-websockets/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/standalone-server/package.json
  lerna.json
  packages/client/package.json
  packages/next/package.json
  packages/react/package.json
  packages/server/package.json
Owners: @trpc-bot, @KATT, @skarab42, @Lilja

fix(types): export internal types for type definition files generation (#2031)
  packages/server/src/index.ts
  packages/server/src/internals.ts
Owners: @KATT

v10.0.0-alpha.38
  examples/.interop/cloudflare-workers/package.json
  examples/.interop/express-server/package.json
  examples/.interop/fastify-server/package.json
  examples/.interop/lambda-api-gateway/package.json
  examples/.interop/next-minimal-starter/package.json
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/.interop/standalone-server/package.json
  examples/cloudflare-workers/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/next-prisma-starter-sqlite/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/standalone-server/package.json
  lerna.json
  packages/client/package.json
  packages/next/package.json
  packages/react/package.json
  packages/server/package.json
Owners: @trpc-bot, @KATT, @skarab42, @Lilja

docs(v10): Replace `hello` with `greeting` (#2191)
  .tmp/v10-docs.md
Owners: @KATT

docs(ssr): Fix typo for getStaticProps (#2185)
  www/docs/nextjs/ssr.md
Owners: @KATT

Update data-transformers.md
  www/docs/server/data-transformers.md
Owners: @KATT

docs: add system32uwu as a contributor for financial (#2193)
  .all-contributorsrc
  README.md
  www/docs/main/sponsors.md
Owners: @KATT

docs: add ixahmedxi as a contributor for financial (#2194)
  .all-contributorsrc
  README.md
  www/docs/main/sponsors.md
Owners: @KATT

docs(v10): Missed a `hello` in the comment (#2195)
  .tmp/v10-docs.md
Owners: @KATT

migrate some more docs (#2201)
  www/docs/further/subscriptions.md
  www/docs/server/error-handling.md
  www/docs/server/fastify.md
Owners: @KATT, @skarab42

docs: minor spelling and grammar mistakes (#2196)
  www/docs/main/awesome-trpc.mdx
Owners: @KATT

docs: start on migration doc (#2202)
  .tmp/v10-docs.md
  www/docs/migration/migrate-from-v9-to-v10.mdx
  www/sidebars.js
Owners: @KATT

tweak
  .tmp/v10-docs.md
Owners: @KATT

update migrate doc
  www/docs/migration/migrate-from-v9-to-v10.mdx
Owners: @KATT

refactor server side calls (#2209)
  packages/client/src/createTRPCClientProxy.ts
  packages/react/src/createReactQueryHooksProxy.tsx
  packages/server/src/core/caller.ts
  packages/server/src/core/index.ts
  packages/server/src/core/internals/internalProcedure.ts
  packages/server/src/core/internals/procedureBuilder.ts
  packages/server/src/core/procedure.ts
  packages/server/src/core/router.ts
  packages/server/src/core/types.ts
  packages/server/src/deprecated/interop.ts
  packages/server/src/types.ts
  packages/server/test/caller.test.ts
  packages/server/test/smoke.test.ts
Owners: @KATT

assert properties on `TRPCError` in `caller.test.ts` (#2226)
  packages/server/test/caller.test.ts
Owners: @KATT

docs: add OlegGulevskyy as a contributor for doc (#2227)
  .all-contributorsrc
  README.md
Owners: @KATT

Add docs announcement bar (#2210)
  www/docusaurus.config.js
Owners: @KATT

add `announcementBar`
  www/docusaurus.config.js
Owners: @KATT

Adding package installation clarity to the client side docs. (#2219)
  www/docs/main/quickstart.mdx
Owners: @KATT

refactor: split react.test.tsx in multiple files (#2207)
  packages/server/test/interop/react.test.tsx
  packages/server/test/interop/react/__testHelpers.tsx
  packages/server/test/interop/react/dehydrate.test.tsx
  packages/server/test/interop/react/formatError.test.tsx
  packages/server/test/interop/react/infiniteQuery.test.tsx
  packages/server/test/interop/react/invalidateQueries.test.tsx
  packages/server/test/interop/react/prefetchQuery.test.tsx
  packages/server/test/interop/react/regression/issue-1645-setErrorStatusSSR.test.tsx
  packages/server/test/interop/react/setInfiniteQueryData.test.tsx
  packages/server/test/interop/react/setQueryData.test.tsx
  packages/server/test/interop/react/useMutation.test.tsx
  packages/server/test/interop/react/useQuery.test.tsx
  packages/server/test/interop/react/useSubscription.test.tsx
  packages/server/test/interop/react/withTRPC.test.tsx
Owners: @KATT

docs: add joaosamouco as a contributor for test (#2229)
  .all-contributorsrc
  README.md
Owners: @KATT

docs: add juliusmarminge as a contributor for doc (#2230)
  .all-contributorsrc
  README.md
Owners: @KATT

Fix api gateway path matching (#2087)
  packages/server/src/adapters/aws-lambda/index.ts
  packages/server/test/adapters/awsLambda.test.tsx
  packages/server/test/adapters/lambda.test.tsx
  packages/server/test/adapters/lambda.utils.ts
Owners: @Lilja, @KATT

v9.26.1
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter-websockets/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/standalone-server/package.json
  lerna.json
  packages/client/package.json
  packages/next/package.json
  packages/react/package.json
  packages/server/package.json
Owners: @trpc-bot, @KATT, @skarab42, @Lilja

[docs] Fix health router example (#2222)
  .tmp/v10-docs.md
Owners: @KATT

docs: mutation is now mutate (#2236)
  www/docs/client/vanilla.md
Owners: @KATT

docs: Adding createTRPCClientProxy to the import statement (#2237)
  www/docs/client/vanilla.md
Owners: @KATT

use `router.createCaller` for server-side calls (#2233)
  packages/react/src/ssg.ts
  packages/server/src/core/caller.ts
  packages/server/src/core/index.ts
  packages/server/src/core/router.ts
  packages/server/src/core/types.ts
  packages/server/test/caller.test.ts
Owners: @KATT
