Repository TryEverything920609/trqc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KATT, @trpc-bot, @skarab42, @Lilja

build(deps): bump next-auth from 4.3.3 to 4.5.0 (#2014)
  yarn.lock
Owners: @trpc-bot, @KATT

build(deps): bump zod from 3.16.0 to 3.17.3 (#2015)
  yarn.lock
Owners: @trpc-bot, @KATT

build(deps): bump prisma from 3.10.0 to 3.15.2 (#2016)
  yarn.lock
Owners: @trpc-bot, @KATT

add some docs (#2022)
  .github/workflows/examples.yml
  .tmp/v10-docs.md
  examples/.interop/cloudflare-workers/package.json
  examples/.interop/express-server/package.json
  examples/.interop/fastify-server/package.json
  examples/.interop/lambda-api-gateway/package.json
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/next-prisma-starter-websockets/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/standalone-server/README.md
  examples/standalone-server/package.json
  examples/standalone-server/sandbox.config.json
  examples/standalone-server/src/client.ts
  examples/standalone-server/src/server.ts
  examples/standalone-server/tsconfig.json
  lerna.json
  packages/client/package.json
  packages/next/package.json
  packages/react/package.json
  packages/server/package.json
  packages/server/src/adapters/ws.ts
  packages/server/src/core/initTRPC.ts
Owners: @KATT, @trpc-bot, @skarab42, @Lilja

some fixes for demo (#2023)
  .tmp/v10-docs.md
  examples/.interop/cloudflare-workers/package.json
  examples/.interop/express-server/package.json
  examples/.interop/fastify-server/package.json
  examples/.interop/lambda-api-gateway/package.json
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/.interop/standalone-server/package.json
  examples/next-prisma-starter-websockets/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/standalone-server/package.json
  lerna.json
  packages/client/package.json
  packages/next/package.json
  packages/react/package.json
  packages/server/package.json
  packages/server/src/core/initTRPC.ts
  scripts/generateMergeRouters.ts
Owners: @KATT, @trpc-bot, @skarab42, @Lilja

Update v10-docs.md
  .tmp/v10-docs.md
Owners: @KATT

Update v10-docs.md
  .tmp/v10-docs.md
Owners: @KATT

Update v10-docs.md
  .tmp/v10-docs.md
Owners: @KATT

fix docs
  .tmp/v10-docs.md
Owners: @KATT

Update v10-docs.md
  .tmp/v10-docs.md
Owners: @KATT

Update v10-docs.md
  .tmp/v10-docs.md
Owners: @KATT

Update v10-docs.md
  .tmp/v10-docs.md
Owners: @KATT

Update v10-docs.md
  .tmp/v10-docs.md
Owners: @KATT

v10 docs
  .tmp/v10-docs.md
Owners: @KATT

add tl;dr
  .tmp/v10-docs.md
Owners: @KATT

docs: add lmatheus as a contributor for financial (#2046)
  .all-contributorsrc
  README.md
Owners: @KATT

Added missing import (#2045)
  www/docs/server/authorization.md
Owners: @KATT

add project overview for contributors (#2039)
  CONTRIBUTING.md
Owners: @KATT

docs: add makyfj as a contributor for doc (#2047)
  .all-contributorsrc
  README.md
Owners: @KATT

:memo: Adding custom header (#2038)
  www/docs/client/header.md
  www/sidebars.js
Owners: @KATT

Update header.md
  www/docs/client/header.md
Owners: @KATT

docs: added @h4ad/serverless-adapter to collection of resources (#2049)
  www/docs/main/awesome-trpc.mdx
Owners: @KATT

add create-t3-app to awesome trpc (#2052)
  www/docs/main/awesome-trpc.mdx
Owners: @KATT

docs: add zomars as a contributor for financial (#2056)
  .all-contributorsrc
  README.md
Owners: @KATT

docs: add webdiego as a contributor for financial (#2057)
  .all-contributorsrc
  README.md
Owners: @KATT

docs: add dmaykov as a contributor for financial (#2058)
  .all-contributorsrc
  README.md
Owners: @KATT

docs: add riccardogiorato as a contributor for financial (#2059)
  .all-contributorsrc
  README.md
Owners: @KATT

docs: add carlbarrdahl as a contributor for financial (#2060)
  .all-contributorsrc
  README.md
Owners: @KATT

docs: add PeerRich as a contributor for financial (#2061)
  .all-contributorsrc
  README.md
Owners: @KATT

docs: add calcom as a contributor for financial (#2062)
  .all-contributorsrc
  README.md
Owners: @KATT

Update sponsors readme (#2063)
  README.md
  www/docs/main/sponsors.md
Owners: @KATT

fix (#2064)
  README.md
  www/docs/main/sponsors.md
Owners: @KATT

Fixing docs responsiveness of features section (#2079)
  www/src/pages/index.tsx
Owners: @KATT

Fix typo (#2080)
  www/docs/server/error-handling.md
Owners: @KATT

Fix incorrect imports in vanilla client setup docs (#2078)
  www/docs/client/vanilla.md
Owners: @KATT

feat: add video to awesome-trpc (#2083)
  www/docs/main/awesome-trpc.mdx
Owners: @KATT

docs: add tomangle as a contributor for video, talk, tutorial (#2088)
  .all-contributorsrc
  README.md
Owners: @KATT

docs: add TheoBr as a contributor for video, talk, tutorial (#2089)
  .all-contributorsrc
  README.md
Owners: @KATT

Update .all-contributorsrc
  .all-contributorsrc
Owners: @KATT

Update .all-contributorsrc
  .all-contributorsrc
Owners: @KATT

.github/CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners


* @KATT


**/package.json @trpc-bot @KATT
**/yarn.lock @trpc-bot @KATT

**/*fastify* @skarab42 @KATT
**/*lambda* @Lilja @KATT
