Repository TryEverything920609/trqc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KATT, @trpc-bot, @sachinraja, @trpc/website-docs, @skarab42, @Lilja

Update introduction.md
  www/docs/reactjs/introduction.md
Owners: @trpc/website-docs

add `@next` on all v10 install docs (#2614)
  packages/client/README.md
  packages/next/README.md
  packages/react/README.md
  packages/server/README.md
  www/docs/main/quickstart.mdx
  www/docs/nextjs/introduction.md
  www/docs/reactjs/introduction.md
  www/docs/server/aws-lambda.md
  www/docs/server/express.md
  www/docs/server/fastify.md
  www/docs/server/fetch.md
  www/versioned_docs/version-9.x/nextjs/introduction.md
  www/versioned_docs/version-9.x/reactjs/introduction.md
Owners: @KATT, @trpc-bot, @sachinraja, @trpc/website-docs, @Lilja, @skarab42

fix: rm unused `type` (#2615)
  packages/client/src/createTRPCClientProxy.ts
Owners: @KATT, @trpc-bot, @sachinraja

v10.0.0-proxy-alpha.60
  examples/.interop/cloudflare-workers/package.json
  examples/.interop/express-server/package.json
  examples/.interop/fastify-server/package.json
  examples/.interop/lambda-api-gateway/package.json
  examples/.interop/next-minimal-starter/package.json
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/.interop/standalone-server/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal/client/package.json
  examples/minimal/package.json
  examples/minimal/server/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter-sqlite/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/standalone-server/package.json
  lerna.json
  packages/client/package.json
  packages/next/package.json
  packages/react/package.json
  packages/server/package.json
  www/package.json
Owners: @KATT, @trpc-bot, @sachinraja

fix: procedure meta typing (#2613)
  packages/server/src/core/internals/procedureBuilder.ts
  packages/server/src/core/procedure.ts
  packages/server/src/core/router.ts
  packages/server/test/initTRPC.test.ts
Owners: @KATT, @trpc-bot, @sachinraja

v10.0.0-proxy-alpha.61
  examples/.interop/cloudflare-workers/package.json
  examples/.interop/express-server/package.json
  examples/.interop/fastify-server/package.json
  examples/.interop/lambda-api-gateway/package.json
  examples/.interop/next-minimal-starter/package.json
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/.interop/standalone-server/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal/client/package.json
  examples/minimal/package.json
  examples/minimal/server/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter-sqlite/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/standalone-server/package.json
  lerna.json
  packages/client/package.json
  packages/next/package.json
  packages/react/package.json
  packages/server/package.json
  www/package.json
Owners: @KATT, @trpc-bot, @sachinraja

feat: expose `create(Input|Output)Middleware` (#2617)
  packages/server/src/core/index.ts
  packages/server/src/core/internals/procedureBuilder.ts
  packages/server/src/core/middleware.ts
  packages/server/src/deprecated/interop.ts
Owners: @KATT, @trpc-bot, @sachinraja

v10.0.0-proxy-alpha.62
  examples/.interop/cloudflare-workers/package.json
  examples/.interop/express-server/package.json
  examples/.interop/fastify-server/package.json
  examples/.interop/lambda-api-gateway/package.json
  examples/.interop/next-minimal-starter/package.json
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/.interop/standalone-server/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal/client/package.json
  examples/minimal/package.json
  examples/minimal/server/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter-sqlite/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/standalone-server/package.json
  lerna.json
  packages/client/package.json
  packages/next/package.json
  packages/react/package.json
  packages/server/package.json
  www/package.json
Owners: @KATT, @trpc-bot, @sachinraja

unversion docs (#2602)
  README.md
  www/docs/main/awesome-trpc.mdx
  www/docs/main/contributing.mdx
  www/docs/main/love.mdx
  www/docs/main/sponsors.mdx
  www/src/components/GithubSponsorButton.tsx
  www/src/components/sponsors/script.output.ts
  www/src/components/sponsors/script.push.ts
  www/src/css/custom.css
  www/unversioned/_contributing.mdx
  www/unversioned/_love.mdx
  www/unversioned/_sponsors.mdx
  www/versioned_docs/version-9.x/main/contributing.md
  www/versioned_docs/version-9.x/main/contributing.mdx
  www/versioned_docs/version-9.x/main/love.mdx
  www/versioned_docs/version-9.x/main/sponsors.md
  www/versioned_docs/version-9.x/main/sponsors.mdx
Owners: @KATT, @trpc-bot, @sachinraja, @trpc/website-docs

reset `./interop/next-prisma-todomvc` from `main` (#2618)
  examples/.interop/next-prisma-todomvc/src/pages/[filter].tsx
  examples/.interop/next-prisma-todomvc/src/pages/_app.tsx
  examples/.interop/next-prisma-todomvc/src/pages/api/trpc/[trpc].ts
  examples/.interop/next-prisma-todomvc/src/routers/todo.ts
  examples/.interop/next-prisma-todomvc/src/server/context.ts
  examples/.interop/next-prisma-todomvc/src/server/createRouter.ts
  examples/.interop/next-prisma-todomvc/src/server/routers/_app.ts
  examples/.interop/next-prisma-todomvc/src/utils/prisma.ts
  examples/.interop/next-prisma-todomvc/src/utils/trpc.ts
Owners: @KATT, @trpc-bot, @sachinraja

fix: suppress React Query errors in tests (#2619)
  packages/server/test/___testHelpers.ts
  packages/server/test/__queryClient.ts
  packages/server/test/interop/react/__testHelpers.tsx
  packages/server/test/interop/react/formatError.test.tsx
  packages/server/test/interop/react/infiniteQuery.test.tsx
  packages/server/test/interop/react/invalidateQueries.test.tsx
  packages/server/test/interop/react/prefetchQuery.test.tsx
  packages/server/test/interop/react/setInfiniteQueryData.test.tsx
  packages/server/test/interop/react/setQueryData.test.tsx
  packages/server/test/interop/react/useMutation.test.tsx
  packages/server/test/interop/react/useQuery.test.tsx
  packages/server/test/interop/react/useSubscription.test.tsx
  packages/server/test/interop/regression/issue-990-initialData.test.tsx
  packages/server/test/react/__reactHelpers.tsx
  packages/server/test/react/interop-basic.test.tsx
Owners: @KATT, @trpc-bot, @sachinraja

fix: `createQueryClientOptions` -> `createQueryClientConfig` (#2620)
  packages/server/test/__queryClient.ts
  packages/server/test/interop/react/__testHelpers.tsx
Owners: @KATT, @trpc-bot, @sachinraja

fix `next-prisma-starter` test
  examples/next-prisma-starter/src/server/routers/post.test.ts
Owners: @KATT, @trpc-bot, @sachinraja

update sponsors
  README.md
  www/src/components/sponsors/script.output.ts
  www/unversioned/_sponsors.mdx
Owners: @KATT, @trpc-bot, @sachinraja, @trpc/website-docs

fix(docs) typo on initTRPC context call (#2626)
  www/docs/server/context.md
Owners: @trpc/website-docs

fix typo in express adapter (#2630)
  www/docs/server/express.md
Owners: @trpc/website-docs

Typo (#2629)
  www/versioned_docs/version-9.x/server/error-formatting.md
Owners: @trpc/website-docs

Fix typos in server docs (#2631)
  www/docs/server/authorization.md
  www/docs/server/caching.md
  www/docs/server/middlewares.md
Owners: @trpc/website-docs

fix: make v10 calls exclusive to v10 procedures (#2624)
  .github/workflows/examples.yml
  .vscode/settings.json
  examples/.interop/next-minimal-starter-migration/.eslintrc.js
  examples/.interop/next-minimal-starter-migration/next-env.d.ts
  examples/.interop/next-minimal-starter-migration/package.json
  examples/.interop/next-minimal-starter-migration/src/pages/_app.tsx
  examples/.interop/next-minimal-starter-migration/src/pages/api/trpc/[trpc].ts
  examples/.interop/next-minimal-starter-migration/src/pages/index.tsx
  examples/.interop/next-minimal-starter-migration/src/utils/trpc.ts
  examples/.interop/next-minimal-starter-migration/tsconfig.json
  packages/client/src/createTRPCClientProxy.ts
  packages/react/src/createReactQueryHooks.tsx
  packages/react/src/createReactQueryHooksProxy.tsx
  packages/server/src/deprecated/interop.ts
  packages/server/src/shared/index.ts
  packages/server/test/react/interop-basic.test.tsx
Owners: @KATT, @trpc-bot, @sachinraja

make react query cancellation configurable (#2628)
  packages/client/src/internals/TRPCClient.ts
  packages/next/src/withTRPC.tsx
  packages/react/src/createReactQueryHooks.tsx
  packages/react/src/internals/context.tsx
Owners: @KATT, @trpc-bot, @sachinraja

v10.0.0-proxy-alpha.65
  examples/.interop/cloudflare-workers/package.json
  examples/.interop/express-server/package.json
  examples/.interop/fastify-server/package.json
  examples/.interop/lambda-api-gateway/package.json
  examples/.interop/next-minimal-starter-migration/package.json
  examples/.interop/next-minimal-starter/package.json
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/.interop/standalone-server/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal/client/package.json
  examples/minimal/package.json
  examples/minimal/server/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter-sqlite/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/standalone-server/package.json
  lerna.json
  packages/client/package.json
  packages/next/package.json
  packages/react/package.json
  packages/server/package.json
  www/package.json
Owners: @KATT, @trpc-bot, @sachinraja

fix: v9 to v10 ts perf (#2633)
  examples/.interop/cloudflare-workers/package.json
  examples/.interop/express-server/package.json
  examples/.interop/fastify-server/package.json
  examples/.interop/lambda-api-gateway/package.json
  examples/.interop/next-minimal-starter-migration/package.json
  examples/.interop/next-minimal-starter/package.json
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/.interop/standalone-server/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal/client/package.json
  examples/minimal/package.json
  examples/minimal/server/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter-sqlite/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/standalone-server/package.json
  lerna.json
  package.json
  packages/client/package.json
  packages/next/package.json
  packages/react/package.json
  packages/react/src/createReactQueryHooksProxy.tsx
  packages/react/src/shared/proxy/utilsProxy.ts
  packages/server/package.json
  packages/server/test/react/interopBasic.test.tsx
  packages/server/test/react/interopBig.test.tsx
  packages/server/test/react/interopBigCompiled.test.tsx
  scripts/generateBigBoi.ts
  scripts/generateBigLegacyRouter.ts
  www/package.json
Owners: @KATT, @trpc-bot, @sachinraja

improve dx for interop (#2635)
  examples/.interop/next-minimal-starter-migration/src/utils/trpc.ts
  packages/client/src/createTRPCClientProxy.ts
  packages/react/src/createTRPCReact.tsx
  packages/react/src/index.ts
  packages/react/src/internals/createHooksInternal.tsx
  packages/react/src/interop.ts
  packages/react/src/shared/index.ts
  packages/react/src/shared/proxy/decorationProxy.ts
  packages/server/test/interop/react/__testHelpers.tsx
  packages/server/test/react/__reactHelpers.tsx
  packages/server/test/react/interopBasic.test.tsx
  packages/server/test/react/interopBig.test.tsx
  packages/server/test/react/interopBigCompiled.test.tsx
Owners: @KATT, @trpc-bot, @sachinraja

v10.0.0-proxy-alpha.67
  examples/.interop/cloudflare-workers/package.json
  examples/.interop/express-server/package.json
  examples/.interop/fastify-server/package.json
  examples/.interop/lambda-api-gateway/package.json
  examples/.interop/next-minimal-starter-migration/package.json
  examples/.interop/next-minimal-starter/package.json
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/.interop/standalone-server/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal/client/package.json
  examples/minimal/package.json
  examples/minimal/server/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter-sqlite/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/standalone-server/package.json
  lerna.json
  packages/client/package.json
  packages/next/package.json
  packages/react/package.json
  packages/server/package.json
  www/package.json
Owners: @KATT, @trpc-bot, @sachinraja

fix: simplify `@trpc/react` output (#2636)
  examples/.interop/cloudflare-workers/package.json
  examples/.interop/express-server/package.json
  examples/.interop/fastify-server/package.json
  examples/.interop/lambda-api-gateway/package.json
  examples/.interop/next-minimal-starter-migration/package.json
  examples/.interop/next-minimal-starter/package.json
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/.interop/standalone-server/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal/client/package.json
  examples/minimal/package.json
  examples/minimal/server/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter-sqlite/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/standalone-server/package.json
  lerna.json
  packages/client/package.json
  packages/next/package.json
  packages/react/package.json
  packages/react/src/createTRPCReact.tsx
  packages/react/src/interop.ts
  packages/server/package.json
  www/package.json
Owners: @KATT, @trpc-bot, @sachinraja

fix `createTRPCReact` types and expose context props (#2640)
  .vscode/settings.json
  examples/.interop/cloudflare-workers/package.json
  examples/.interop/express-server/package.json
  examples/.interop/fastify-server/package.json
  examples/.interop/lambda-api-gateway/package.json
  examples/.interop/next-minimal-starter-migration/package.json
  examples/.interop/next-minimal-starter/package.json
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/.interop/standalone-server/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal/client/package.json
  examples/minimal/package.json
  examples/minimal/server/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter-sqlite/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/standalone-server/package.json
  lerna.json
  packages/client/package.json
  packages/next/package.json
  packages/next/src/createTRPCNext.tsx
  packages/react/package.json
  packages/react/src/createTRPCReact.tsx
  packages/react/src/internals/context.tsx
  packages/react/src/shared/hooks/createHooksInternal.tsx
  packages/react/src/shared/proxy/utilsProxy.ts
  packages/server/package.json
  packages/server/test/___testHelpers.ts
  packages/server/test/react/createClient.test.tsx
  packages/server/test/react/useContext.test.tsx
  www/package.json
Owners: @KATT, @trpc-bot, @sachinraja

remove some typecasts in client (#2642)
  packages/client/src/internals/TRPCClient.ts
Owners: @KATT, @trpc-bot, @sachinraja

refactor(react): changes context to a record and simplifies logic of utilsProxy (#2641)
  packages/react/src/shared/proxy/utilsProxy.ts
Owners: @KATT, @trpc-bot, @sachinraja

feat: prohibit url from being passed along with links (#2644)
  packages/client/src/internals/TRPCClient.ts
  packages/server/test/createClient.test.ts
Owners: @KATT, @trpc-bot, @sachinraja

docs: sync sponsors
  README.md
  www/src/components/sponsors/script.output.ts
  www/unversioned/_sponsors.mdx
Owners: @KATT, @trpc-bot, @sachinraja, @trpc/website-docs

v10.0.0-proxy-alpha.73
  examples/.interop/cloudflare-workers/package.json
  examples/.interop/express-server/package.json
  examples/.interop/fastify-server/package.json
  examples/.interop/lambda-api-gateway/package.json
  examples/.interop/next-minimal-starter-migration/package.json
  examples/.interop/next-minimal-starter/package.json
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/.interop/standalone-server/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal/client/package.json
  examples/minimal/package.json
  examples/minimal/server/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter-sqlite/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/standalone-server/package.json
  lerna.json
  packages/client/package.json
  packages/next/package.json
  packages/react/package.json
  packages/server/package.json
  www/package.json
Owners: @KATT, @trpc-bot, @sachinraja

adds docs for abortOnUnmount (#2647)
  www/docs/client/aborting-procedures.md
  www/docs/nextjs/introduction.md
Owners: @trpc/website-docs

docs: update fastify docs to remove deprecated listen (#2649)
  www/docs/server/fastify.md
  www/versioned_docs/version-9.x/server/fastify.md
Owners: @skarab42, @KATT

docs: add oscartbeaumont as a contributor for question (#2659)
  .all-contributorsrc
  README.md
Owners: @KATT, @trpc-bot, @sachinraja

refactor(server): removes teardown option (#2600)
  examples/.interop/next-prisma-todomvc/src/pages/api/trpc/[trpc].ts
  examples/next-prisma-todomvc/src/pages/api/trpc/[trpc].ts
  packages/server/src/adapters/node-http/nodeHTTPRequestHandler.ts
  packages/server/src/adapters/node-http/types.ts
  www/docs/migration/migrate-from-v9-to-v10.mdx
Owners: @KATT, @trpc-bot, @sachinraja, @trpc/website-docs

docs/jlalmes-landing-ui (#2657)
  .vscode/settings.json
  README.md
  www/package.json
  www/src/components/Button.tsx
  www/src/components/GithubStarCountButton.tsx
  www/src/components/GithubStarsButton.tsx
  www/src/components/TopSponsors.tsx
  www/src/components/TwitterWall/index.tsx
  www/src/components/TwitterWall/script.output.ts
  www/src/components/TwitterWall/script.ts
  www/src/components/TwitterWall/tweets.ts
  www/src/components/sponsors/script.output.ts
  www/src/css/custom.css
  www/src/pages/index.tsx
  www/tailwind.config.js
  www/tsconfig.json
  www/unversioned/_sponsors.mdx
  yarn.lock
Owners: @KATT, @trpc-bot, @sachinraja, @trpc/website-docs

docs: team update (#2660)
  README.md
  www/src/components/TwitterWall/script.output.ts
  www/src/components/TwitterWall/script.ts
  www/src/pages/index.tsx
  yarn.lock
Owners: @KATT, @trpc-bot, @sachinraja, @trpc/website-docs

migration guide improvements (#2662)
  www/docs/migration/migrate-from-v9-to-v10.mdx
  www/docs/server/merging-routers.md
  www/docs/server/metadata.md
  www/docs/server/procedures.md
  www/docs/server/router.md
  www/sidebars.js
Owners: @trpc/website-docs

feat: propagate websocket close code to close listener (#2656)
  packages/client/src/links/wsLink.ts
Owners: @KATT, @trpc-bot, @sachinraja

v10.0.0-proxy-alpha.74
  examples/.interop/cloudflare-workers/package.json
  examples/.interop/express-server/package.json
  examples/.interop/fastify-server/package.json
  examples/.interop/lambda-api-gateway/package.json
  examples/.interop/next-minimal-starter-migration/package.json
  examples/.interop/next-minimal-starter/package.json
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/.interop/standalone-server/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal/client/package.json
  examples/minimal/package.json
  examples/minimal/server/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter-sqlite/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/standalone-server/package.json
  lerna.json
  packages/client/package.json
  packages/next/package.json
  packages/react/package.json
  packages/server/package.json
  www/package.json
Owners: @KATT, @trpc-bot, @sachinraja

.github/CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners


* @KATT @trpc-bot @sachinraja

www/**/* @trpc/website-docs
**/*fastify* @skarab42 @KATT
**/*lambda* @Lilja @KATT

**/package.json @KATT
