Repository TryEverything920609/trqc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KATT, @trpc-bot, @skarab42, @Lilja

.github/CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners


* @KATT


**/package.json @trpc-bot @KATT
**/yarn.lock @trpc-bot @KATT

**/*fastify* @skarab42 @KATT
**/*lambda* @Lilja @KATT

v10.0.0-alpha.40
  examples/.interop/cloudflare-workers/package.json
  examples/.interop/express-server/package.json
  examples/.interop/fastify-server/package.json
  examples/.interop/lambda-api-gateway/package.json
  examples/.interop/next-minimal-starter/package.json
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/.interop/standalone-server/package.json
  examples/cloudflare-workers/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/next-prisma-starter-sqlite/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/standalone-server/package.json
  lerna.json
  packages/client/package.json
  packages/next/package.json
  packages/react/package.json
  packages/server/package.json
Owners: @trpc-bot, @KATT, @skarab42, @Lilja

Sponsors section for landing page (#2308)
  www/package.json
  www/src/components/sponsors/.gitignore
  www/src/components/sponsors/data.ts
  www/src/components/sponsors/index.jsx
  www/src/components/sponsors/script.output.ts
  www/src/components/sponsors/script.ts
  www/src/components/sponsors/script.types.ts
  www/src/pages/index.tsx
  www/yarn.lock
Owners: @trpc-bot, @KATT

Add nx trpc prisma example project to awesome trpc (#2313)
  www/docs/main/awesome-trpc.mdx
Owners: @KATT

landing page: small css cleanup (#2318)
  www/docusaurus.config.js
  www/src/components/GithubStarCountButton.tsx
  www/src/css/custom.css
Owners: @KATT

specify parameter names for React hooks (#2320)
  packages/react/src/createReactQueryHooksProxy.tsx
Owners: @KATT

feat(www): implements twitter wall of love (#2322)
  www/src/components/TwitterWall/index.tsx
  www/src/components/TwitterWall/tweets.ts
  www/src/pages/index.tsx
Owners: @KATT

react-query utils proxy (#2307)
  examples/.interop/cloudflare-workers/package.json
  examples/.interop/express-server/package.json
  examples/.interop/fastify-server/package.json
  examples/.interop/lambda-api-gateway/package.json
  examples/.interop/next-minimal-starter/package.json
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/.interop/standalone-server/package.json
  examples/cloudflare-workers/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/next-prisma-starter-sqlite/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-starter/src/pages/index.tsx
  examples/next-prisma-todomvc/package.json
  examples/standalone-server/package.json
  lerna.json
  packages/client/package.json
  packages/next/package.json
  packages/react/package.json
  packages/react/src/createReactQueryHooksProxy.tsx
  packages/react/src/index.ts
  packages/react/src/internals/context.tsx
  packages/react/src/internals/getQueryKey.ts
  packages/react/src/internals/utilsProxy.ts
  packages/server/package.json
  packages/server/src/core/index.ts
  packages/server/src/core/procedure.ts
  packages/server/test/__reactHelpers.tsx
  packages/server/test/bigBoi.test.tsx
  packages/server/test/reactUtils.test.tsx
  packages/server/test/useQuery.test.tsx
  www/docs/reactjs/invalidateQueries.md
  www/docs/reactjs/useInfiniteQuery.md
Owners: @trpc-bot, @KATT, @skarab42, @Lilja

docs: fix broken link in Next.js Docs (#2335)
  www/docs/nextjs/introduction.md
Owners: @KATT

docs: Fix Github Star on some i18n (#2329)
  www/package.json
  www/src/components/GithubStarCountButton.tsx
  www/yarn.lock
Owners: @trpc-bot, @KATT

feat(www): tweak twitterwall and link stuff (#2331)
  www/package.json
  www/src/components/TwitterWall/index.tsx
  www/src/components/TwitterWall/script.ts
  www/src/components/TwitterWall/tweets.ts
  www/src/components/TwitterWall/tweetsOld.ts
  www/src/css/custom.css
Owners: @trpc-bot, @KATT

docs: note that the error stack trace only appears in dev (#2341)
  www/docs/server/error-handling.md
Owners: @KATT

docs: update react intro (#2347)
  www/docs/reactjs/introduction.md
Owners: @KATT

Update caching.md (#2350)
  www/docs/server/caching.md
Owners: @KATT

docs: update next example to v10 (#2346)
  www/docs/nextjs/introduction.md
Owners: @KATT

chore: upgrade aws-lamda-gateway to v10 (#2165)
  examples/lambda-api-gateway/.gitignore
  examples/lambda-api-gateway/README.md
  examples/lambda-api-gateway/package.json
  examples/lambda-api-gateway/serverless.yml
  examples/lambda-api-gateway/src/client.ts
  examples/lambda-api-gateway/src/payloadFormatVersionClient.ts
  examples/lambda-api-gateway/src/server.ts
  examples/lambda-api-gateway/tsconfig.json
  packages/server/adapters/aws-lambda/index.js
  packages/server/package.json
  packages/server/rollup.config.js
  yarn.lock
Owners: @Lilja, @KATT, @trpc-bot

examples: Add a more minimal express example (#2345)
  .github/workflows/examples.yml
  examples/express-minimal/README.md
  examples/express-minimal/package.json
  examples/express-minimal/src/client.ts
  examples/express-minimal/src/router.ts
  examples/express-minimal/src/server.ts
  examples/express-minimal/tsconfig.json
Owners: @KATT, @trpc-bot

cleanup: remove `procedure.resolve()` (#2355)
  packages/server/src/core/internals/procedureBuilder.ts
  packages/server/src/core/procedure.ts
  packages/server/test/middlewares.test.ts
Owners: @KATT

automate sponsorship section (#2358)
  README.md
  www/docs/main/sponsors.md
  www/package.json
  www/src/components/sponsors/data.ts
  www/src/components/sponsors/index.jsx
  www/src/components/sponsors/script.output.ts
  www/src/components/sponsors/script.pull.ts
  www/src/components/sponsors/script.push.ts
Owners: @KATT, @trpc-bot

add sponsors script (#2359)
  README.md
  www/docs/main/sponsors.md
  www/package.json
  www/src/components/sponsors/.gitignore
  www/src/components/sponsors/script.output.ts
  www/src/components/sponsors/script.pull.ts
  www/src/components/sponsors/script.push.ts
  www/src/components/sponsors/script.types.ts
Owners: @KATT, @trpc-bot

tweak dataviz to work without `multiplier`
  www/src/components/sponsors/index.jsx
Owners: @KATT

tweak sponsors (#2372)
  www/package.json
  www/src/components/sponsors/script.output.ts
  www/src/components/sponsors/script.pull.ts
Owners: @trpc-bot, @KATT

docs: add francisprovost as a contributor for financial (#2378)
  .all-contributorsrc
  README.md
Owners: @KATT

docs: add dyaa as a contributor for financial (#2379)
  .all-contributorsrc
  README.md
Owners: @KATT

docs: add zzacong as a contributor for financial (#2380)
  .all-contributorsrc
  README.md
Owners: @KATT

docs: add LoriKarikari as a contributor for financial (#2381)
  .all-contributorsrc
  README.md
Owners: @KATT

update sponsors (#2377)
  README.md
  www/docs/main/sponsors.md
  www/src/components/sponsors/script.output.ts
  www/src/components/sponsors/script.pull.ts
  www/src/components/sponsors/script.push.ts
Owners: @KATT

issue/pr templates (#2363)
  .github/ISSUE_TEMPLATE/1.bug_report.yml
  .github/ISSUE_TEMPLATE/2.feature_request.yml
  .github/ISSUE_TEMPLATE/3.docs.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/label.yml
  .github/labeler.yml
  .github/pull_request_template.md
  .github/workflows/labeler.yml
Owners: @KATT

docs: update configuration of _app.tsx in next.js (#2375)
  www/docs/nextjs/introduction.md
Owners: @KATT

Subscriptions v10 API (#2364)
  examples/.interop/fastify-server/src/client/index.ts
  examples/.interop/next-prisma-starter-websockets/src/pages/about.tsx
  examples/.interop/next-prisma-starter-websockets/src/pages/index.tsx
  examples/.interop/standalone-server/src/client.ts
  examples/fastify-server/src/client/index.ts
  examples/standalone-server/src/client.ts
  packages/client/src/createTRPCClientProxy.ts
  packages/client/src/internals/TRPCClient.ts
  packages/client/src/links/wsLink.ts
  packages/react/src/createReactQueryHooks.tsx
  packages/react/src/createReactQueryHooksProxy.tsx
  packages/server/test/__reactHelpers.tsx
  packages/server/test/interop/adapters/fastify.test.ts
  packages/server/test/interop/react/useSubscription.test.tsx
  packages/server/test/interop/transformer.test.ts
  packages/server/test/interop/websockets.test.ts
  packages/server/test/smoke.test.ts
  packages/server/test/useMutation.test.tsx
  packages/server/test/useQuery.test.tsx
  packages/server/test/useSubscription.test.tsx
  www/docs/further/subscriptions.md
Owners: @skarab42, @KATT

Subscriptions Proxy API test (#2361)
  packages/server/test/useQuery.test.tsx
Owners: @KATT

added examples (#2392)
  www/docs/main/awesome-trpc.mdx
Owners: @KATT

fix github labeler (#2393)
  .github/labeler.yml
Owners: @KATT

docs: add dyaa as a contributor for code, test (#2396)
  .all-contributorsrc
  README.md
Owners: @KATT

rm double declaration of `useSubscription` test (#2394)
  packages/server/test/useQuery.test.tsx
  packages/server/test/useSubscription.test.tsx
Owners: @KATT

Expose internals for new adapters/links (#2397)
  packages/client/src/core/TRPCAbortError.ts
  packages/client/src/core/index.ts
  packages/client/src/core/transformRPCResponse.ts
  packages/client/src/index.ts
  packages/client/src/internals/TRPCClient.ts
  packages/client/src/links/httpBatchLink.ts
  packages/client/src/links/httpLink.ts
  packages/server/src/TRPCError.ts
  packages/server/src/adapters/ws.ts
  packages/server/src/core/callProcedure.ts
  packages/server/src/core/errors.ts
  packages/server/src/core/index.ts
  packages/server/src/core/transformTRPCResponse.ts
  packages/server/src/http/resolveHTTPResponse.ts
  packages/server/src/index.ts
  packages/server/src/internals/procedure.ts
  packages/server/src/subscription.ts
  packages/server/test/errors.test.ts
Owners: @KATT

Revert "Expose internals for new adapters/links (#2397)"
  packages/client/src/core/index.ts
  packages/client/src/index.ts
  packages/client/src/internals/TRPCAbortError.ts
  packages/client/src/internals/TRPCClient.ts
  packages/client/src/internals/transformRPCResponse.ts
  packages/client/src/links/httpBatchLink.ts
  packages/client/src/links/httpLink.ts
  packages/server/src/TRPCError.ts
  packages/server/src/adapters/ws.ts
  packages/server/src/core/index.ts
  packages/server/src/http/resolveHTTPResponse.ts
  packages/server/src/index.ts
  packages/server/src/internals/callProcedure.ts
  packages/server/src/internals/errors.ts
  packages/server/src/internals/procedure.ts
  packages/server/src/internals/transformTRPCResponse.ts
  packages/server/src/subscription.ts
  packages/server/test/errors.test.ts
Owners: @KATT

v9.27.0
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter-websockets/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/standalone-server/package.json
  lerna.json
  packages/client/package.json
  packages/next/package.json
  packages/react/package.json
  packages/server/package.json
Owners: @trpc-bot, @KATT, @skarab42, @Lilja

fix wss example type error (#2400)
  examples/next-prisma-starter-websockets/src/pages/api/auth/[...nextauth].ts
Owners: @KATT

Fix error code conditional (#2399)
  www/docs/server/error-formatting.md
Owners: @KATT

Added Remix adapter to awesome tRPC (#2401)
  www/docs/main/awesome-trpc.mdx
Owners: @KATT
