Repository TryEverything920609/trqc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KATT, @trpc-bot, @sachinraja, @trpc/website-docs, @Lilja

fix(www): update docs regarding client initialization (#2734)
  www/docs/client/cors.md
  www/docs/migration/migrate-from-v9-to-v10.mdx
  www/docs/nextjs/introduction.md
  www/docs/nextjs/ssr.md
  www/docs/reactjs/introduction.md
  www/docs/server/caching.md
Owners: @trpc/website-docs

chore: added tRPC devtools extension to awesome collection (#2732)
  www/docs/main/awesome-trpc.mdx
  www/versioned_docs/version-9.x/main/awesome-trpc.mdx
Owners: @trpc/website-docs

add big router example (#2738)
  .github/workflows/subtree-next.yml
  .gitignore
  examples/.interop/next-minimal-starter-migration/src/pages/_app.tsx
  examples/.interop/next-minimal-starter/src/pages/_app.tsx
  examples/.interop/next-prisma-starter-websockets/src/utils/trpc.ts
  examples/.interop/next-prisma-starter/src/pages/_app.tsx
  examples/fastify-server/src/client/index.ts
  examples/next-big-router/.eslintrc.js
  examples/next-big-router/.gitignore
  examples/next-big-router/README.md
  examples/next-big-router/next-env.d.ts
  examples/next-big-router/package.json
  examples/next-big-router/scripts/codegen.ts
  examples/next-big-router/src/pages/_app.tsx
  examples/next-big-router/src/pages/api/trpc/[trpc].ts
  examples/next-big-router/src/pages/index.tsx
  examples/next-big-router/src/server/context.ts
  examples/next-big-router/src/server/trpc.ts
  examples/next-big-router/src/utils/trpc.ts
  examples/next-big-router/tsconfig.json
  examples/next-prisma-starter-websockets/src/utils/trpc.ts
  examples/next-prisma-todomvc/src/utils/trpc.ts
  www/docs/client/links.md
  www/docs/landing-intro/Step3.md
  www/docs/server/caching.md
  www/versioned_docs/version-9.x/client/header.md
  www/versioned_docs/version-9.x/nextjs/introduction.md
Owners: @KATT, @trpc-bot, @sachinraja, @trpc/website-docs

docs: readme for big router project
  examples/next-big-router/README.md
Owners: @KATT, @trpc-bot, @sachinraja

ci: sync all examples
  .github/workflows/subtree-next.yml
  .github/workflows/subtree.yml
Owners: @KATT, @trpc-bot, @sachinraja

add pagination to next.js example (#2742)
  examples/next-prisma-starter/prisma/migrations/20220918091608_pagination/migration.sql
  examples/next-prisma-starter/prisma/migrations/20220918134120_revert/migration.sql
  examples/next-prisma-starter/prisma/schema.prisma
  examples/next-prisma-starter/src/pages/index.tsx
  examples/next-prisma-starter/src/server/routers/post.ts
  examples/next-prisma-starter/src/utils/trpc.ts
  www/vercel.json
Owners: @KATT, @trpc-bot, @sachinraja, @trpc/website-docs

fix `next-prisma-starter` e2e test (#2744)
  examples/next-prisma-starter/package.json
  examples/next-prisma-starter/src/components/DefaultLayout.tsx
Owners: @KATT, @trpc-bot, @sachinraja

refactor(www): more consistent and minimal design (#2746)
  www/docs/landing-intro/Step3.md
  www/src/components/Features.tsx
  www/src/components/Preview.tsx
  www/src/components/QuickIntro.tsx
  www/src/components/SectionTitle.tsx
  www/src/components/TwitterWall/index.tsx
  www/src/components/TwitterWall/script.output.ts
  www/src/css/custom.css
  www/src/pages/index.tsx
Owners: @trpc/website-docs

add old blog post (#2748)
  www/blog/2021-03-03-hello-world.md
  www/blog/2021-05-05-hello-world.md
Owners: @trpc/website-docs

feat(www): make v10 the default view (#2743)
  www/docusaurus.config.js
  www/global.d.ts
  www/src/components/Preview.tsx
  www/src/components/QuickIntro.tsx
  www/src/components/SectionTitle.tsx
  www/src/components/TopSponsors.tsx
  www/src/components/useVersion.tsx
  www/src/css/custom.css
  www/src/pages/index.tsx
  www/src/theme/DocVersionBanner/index.tsx
  www/vercel.json
Owners: @trpc/website-docs

fix(www): fix broken links
  www/src/theme/DocVersionBanner/index.tsx
Owners: @trpc/website-docs

v10.0.0-proxy-beta.0
  examples/.interop/cloudflare-workers/package.json
  examples/.interop/express-server/package.json
  examples/.interop/fastify-server/package.json
  examples/.interop/lambda-api-gateway/package.json
  examples/.interop/next-minimal-starter-migration/package.json
  examples/.interop/next-minimal-starter/package.json
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/.interop/standalone-server/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal/client/package.json
  examples/minimal/package.json
  examples/minimal/server/package.json
  examples/next-big-router/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter-sqlite/package.json
  examples/next-prisma-starter-websockets/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/standalone-server/package.json
  lerna.json
  packages/client/package.json
  packages/next/package.json
  packages/react/package.json
  packages/server/package.json
  www/package.json
Owners: @KATT, @trpc-bot, @sachinraja

fix(www): bad link
  www/docusaurus.config.js
Owners: @trpc/website-docs

chore: fix typo in QuickIntro (#2753)
  www/src/components/QuickIntro.tsx
Owners: @trpc/website-docs

Update links.md
  www/docs/client/links.md
Owners: @trpc/website-docs

feat(www): nicer sponsor button on landing page (#2755)
  README.md
  www/src/components/GithubSponsorButton.tsx
  www/src/components/sponsors/script.output.ts
  www/src/pages/index.tsx
  www/unversioned/_contributing.mdx
  www/unversioned/_sponsors.mdx
Owners: @KATT, @trpc-bot, @sachinraja, @trpc/website-docs

feat(www): sync twitter wall
  www/src/components/TwitterWall/script.output.ts
Owners: @trpc/website-docs

feat(www): tweetwall update
  www/src/components/TwitterWall/index.tsx
  www/src/components/TwitterWall/script.output.ts
Owners: @trpc/website-docs

feat(www): twitterwall improvement
  www/src/components/TwitterWall/index.tsx
Owners: @trpc/website-docs

[docs/wwww] reword ssr for v10 (#2762)
  www/docs/nextjs/ssg-helpers.md
  www/docs/nextjs/ssr.md
  www/sidebars.js
  www/versioned_docs/version-9.x/nextjs/ssg-helpers.md
  www/versioned_sidebars/version-9.x-sidebars.json
Owners: @trpc/website-docs

fix(www): fix mobile spacing (#2766)
  www/src/components/Features.tsx
  www/src/components/TwitterWall/index.tsx
  www/src/pages/index.tsx
Owners: @trpc/website-docs

chore: eslint rules (#2767)
  .eslintrc
  examples/.interop/next-minimal-starter-migration/.eslintrc
  examples/.interop/next-minimal-starter-migration/.eslintrc.js
  examples/.interop/next-minimal-starter/.eslintrc
  examples/.interop/next-minimal-starter/.eslintrc.js
  examples/.interop/next-prisma-starter-websockets/src/server/routers/post.ts
  examples/next-big-router/.eslintrc
  examples/next-big-router/.eslintrc.js
  examples/next-minimal-starter/.eslintrc
  examples/next-minimal-starter/.eslintrc.js
  examples/next-prisma-starter-websockets/src/server/routers/post.ts
  packages/client/src/links/splitLink.ts
  packages/react/src/shared/hooks/createHooksInternal.tsx
  packages/react/src/shared/proxy/utilsProxy.ts
  packages/server/src/adapters/aws-lambda/index.ts
  packages/server/src/adapters/aws-lambda/utils.ts
  packages/server/src/adapters/lambda/index.ts
  packages/server/src/core/initTRPC.ts
  packages/server/src/core/internals/config.ts
  packages/server/src/core/internals/getParseFn.ts
  packages/server/src/core/internals/mergeWithoutOverrides.ts
  packages/server/src/core/internals/omitPrototype.ts
  packages/server/src/core/internals/procedureBuilder.ts
  packages/server/src/core/internals/utils.ts
  packages/server/src/core/middleware.ts
  packages/server/src/core/types.ts
  packages/server/src/deprecated/internals/middlewares.ts
  packages/server/src/deprecated/internals/procedure.ts
  packages/server/src/deprecated/interop.ts
  packages/server/src/deprecated/router.ts
  packages/server/src/error/formatter.ts
  packages/server/src/http/internals/getHTTPStatusCode.ts
  packages/server/src/internals/invert.ts
  packages/server/src/observable/internals/identity.ts
  packages/server/src/observable/internals/pipe.ts
  packages/server/src/observable/types.ts
  packages/server/src/rpc/codes.ts
  packages/server/src/rpc/internals/invert.ts
  packages/server/src/types.ts
Owners: @KATT, @trpc-bot, @sachinraja, @Lilja

fix(example): fix websocket build (#2771)
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-starter-websockets/src/pages/_app.tsx
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/next-prisma-starter-sqlite/package.json
  examples/next-prisma-starter-websockets/README.md
  examples/next-prisma-starter-websockets/package.json
  examples/next-prisma-starter-websockets/src/pages/_app.tsx
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  packages/next/package.json
  packages/next/src/withTRPC.tsx
  packages/react/package.json
  packages/server/package.json
  yarn.lock
Owners: @KATT, @trpc-bot, @sachinraja

v10.0.0-proxy-beta.1
  examples/.interop/cloudflare-workers/package.json
  examples/.interop/express-server/package.json
  examples/.interop/fastify-server/package.json
  examples/.interop/lambda-api-gateway/package.json
  examples/.interop/next-minimal-starter-migration/package.json
  examples/.interop/next-minimal-starter/package.json
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/.interop/standalone-server/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal/client/package.json
  examples/minimal/package.json
  examples/minimal/server/package.json
  examples/next-big-router/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter-sqlite/package.json
  examples/next-prisma-starter-websockets/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/standalone-server/package.json
  lerna.json
  packages/client/package.json
  packages/next/package.json
  packages/react/package.json
  packages/server/package.json
  www/package.json
Owners: @KATT, @trpc-bot, @sachinraja

Update README.md
  README.md
Owners: @KATT, @trpc-bot, @sachinraja

feat(docs): readme tweaks (#2775)
  README.md
  www/docusaurus.config.js
Owners: @KATT, @trpc-bot, @sachinraja, @trpc/website-docs

bug: utils.setData updaterFn has implicit any (#2758)
  examples/.interop/next-minimal-starter-migration/package.json
  examples/.interop/next-minimal-starter/package.json
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/next-big-router/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter-sqlite/package.json
  examples/next-prisma-starter-websockets/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  packages/next/package.json
  packages/react/package.json
  packages/react/src/internals/context.tsx
  packages/react/src/shared/proxy/utilsProxy.ts
  packages/server/package.json
  yarn.lock
Owners: @KATT, @trpc-bot, @sachinraja

v10.0.0-proxy-beta.2
  examples/.interop/cloudflare-workers/package.json
  examples/.interop/express-server/package.json
  examples/.interop/fastify-server/package.json
  examples/.interop/lambda-api-gateway/package.json
  examples/.interop/next-minimal-starter-migration/package.json
  examples/.interop/next-minimal-starter/package.json
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/.interop/standalone-server/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal/client/package.json
  examples/minimal/package.json
  examples/minimal/server/package.json
  examples/next-big-router/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter-sqlite/package.json
  examples/next-prisma-starter-websockets/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/standalone-server/package.json
  lerna.json
  packages/client/package.json
  packages/next/package.json
  packages/react/package.json
  packages/server/package.json
  www/package.json
Owners: @KATT, @trpc-bot, @sachinraja

fix: proxy interpreted as `PromiseLike` (#2562)
  packages/client/src/createTRPCClientProxy.ts
  packages/server/src/core/router.ts
  packages/server/src/shared/createProxy/index.ts
  packages/server/test/react/interopBasic.test.tsx
  packages/server/test/reservedWords.test.ts
Owners: @KATT, @trpc-bot, @sachinraja

v10.0.0-proxy-beta.3
  examples/.interop/cloudflare-workers/package.json
  examples/.interop/express-server/package.json
  examples/.interop/fastify-server/package.json
  examples/.interop/lambda-api-gateway/package.json
  examples/.interop/next-minimal-starter-migration/package.json
  examples/.interop/next-minimal-starter/package.json
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/.interop/standalone-server/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal/client/package.json
  examples/minimal/package.json
  examples/minimal/server/package.json
  examples/next-big-router/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter-sqlite/package.json
  examples/next-prisma-starter-websockets/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/standalone-server/package.json
  lerna.json
  packages/client/package.json
  packages/next/package.json
  packages/react/package.json
  packages/server/package.json
  www/package.json
Owners: @KATT, @trpc-bot, @sachinraja

fix: redirect old post
  www/vercel.json
Owners: @trpc/website-docs

fix: use public AppType import and leverage generic (#2777)
  examples/.interop/next-minimal-starter-migration/package.json
  examples/.interop/next-minimal-starter-migration/src/pages/_app.tsx
  examples/.interop/next-minimal-starter/package.json
  examples/.interop/next-minimal-starter/src/pages/_app.tsx
  examples/.interop/next-prisma-starter-websockets/src/pages/_app.tsx
  examples/.interop/next-prisma-starter/src/pages/_app.tsx
  examples/.interop/next-prisma-todomvc/src/pages/_app.tsx
  examples/next-big-router/package.json
  examples/next-big-router/src/pages/_app.tsx
  examples/next-minimal-starter/package.json
  examples/next-minimal-starter/src/pages/_app.tsx
  examples/next-prisma-starter-sqlite/src/pages/_app.tsx
  examples/next-prisma-starter-websockets/src/pages/_app.tsx
  examples/next-prisma-starter/src/pages/_app.tsx
  examples/next-prisma-todomvc/src/pages/_app.tsx
  yarn.lock
Owners: @KATT, @trpc-bot, @sachinraja

fix: upgrade to typescript 4.8 & fix type errors (#2785)
  .github/ISSUE_TEMPLATE/1.bug_report.yml
  examples/.interop/cloudflare-workers/package.json
  examples/.interop/express-server/package.json
  examples/.interop/fastify-server/package.json
  examples/.interop/lambda-api-gateway/package.json
  examples/.interop/next-minimal-starter-migration/package.json
  examples/.interop/next-minimal-starter-migration/src/pages/api/trpc/[trpc].ts
  examples/.interop/next-minimal-starter/package.json
  examples/.interop/next-minimal-starter/src/pages/api/trpc/[trpc].ts
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/.interop/standalone-server/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal/package.json
  examples/next-big-router/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter-sqlite/package.json
  examples/next-prisma-starter-websockets/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/standalone-server/package.json
  package.json
  packages/server/package.json
  packages/server/src/adapters/node-http/types.ts
  packages/server/src/deprecated/internals/callProcedure.ts
  packages/server/src/deprecated/router.ts
  packages/server/test/___testHelpers.ts
  packages/server/test/interop/links.test.ts
  packages/server/test/interop/middleware.test.ts
  www/docs/migration/migrate-from-v9-to-v10.mdx
  www/package.json
  yarn.lock
Owners: @KATT, @trpc-bot, @sachinraja, @trpc/website-docs

v10.0.0-proxy-beta.4
  examples/.interop/cloudflare-workers/package.json
  examples/.interop/express-server/package.json
  examples/.interop/fastify-server/package.json
  examples/.interop/lambda-api-gateway/package.json
  examples/.interop/next-minimal-starter-migration/package.json
  examples/.interop/next-minimal-starter/package.json
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/.interop/standalone-server/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal/client/package.json
  examples/minimal/package.json
  examples/minimal/server/package.json
  examples/next-big-router/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter-sqlite/package.json
  examples/next-prisma-starter-websockets/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/standalone-server/package.json
  lerna.json
  packages/client/package.json
  packages/next/package.json
  packages/react/package.json
  packages/server/package.json
  www/package.json
Owners: @KATT, @trpc-bot, @sachinraja

feat(server): adds `TOO_MANY_REQUESTS` / `429` error code (#2784)
  packages/server/src/http/internals/getHTTPStatusCode.ts
  packages/server/src/rpc/codes.ts
  www/docs/server/error-handling.md
Owners: @KATT, @trpc-bot, @sachinraja, @trpc/website-docs

v10.0.0-proxy-beta.5
  examples/.interop/cloudflare-workers/package.json
  examples/.interop/express-server/package.json
  examples/.interop/fastify-server/package.json
  examples/.interop/lambda-api-gateway/package.json
  examples/.interop/next-minimal-starter-migration/package.json
  examples/.interop/next-minimal-starter/package.json
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/.interop/standalone-server/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal/client/package.json
  examples/minimal/package.json
  examples/minimal/server/package.json
  examples/next-big-router/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter-sqlite/package.json
  examples/next-prisma-starter-websockets/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/standalone-server/package.json
  lerna.json
  packages/client/package.json
  packages/next/package.json
  packages/react/package.json
  packages/server/package.json
  www/package.json
Owners: @KATT, @trpc-bot, @sachinraja

docs: fix missing import in Next.js docs (#2790)
  www/docs/nextjs/introduction.md
Owners: @trpc/website-docs

export DecorateProcedure (#2791)
  packages/react/src/createTRPCReact.tsx
  packages/react/src/index.ts
  packages/react/src/shared/index.ts
Owners: @KATT, @trpc-bot, @sachinraja

fix: add `auto-install-peers=true` `
  .npmrc
Owners: @KATT, @trpc-bot, @sachinraja

fix peer deps (#2793)
  .npmrc
  examples/.interop/cloudflare-workers/package.json
  examples/.interop/express-server/package.json
  examples/.interop/fastify-server/package.json
  examples/.interop/lambda-api-gateway/package.json
  examples/.interop/next-minimal-starter-migration/package.json
  examples/.interop/next-minimal-starter/package.json
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/.interop/standalone-server/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal/client/package.json
  examples/minimal/package.json
  examples/minimal/server/package.json
  examples/next-big-router/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter-sqlite/package.json
  examples/next-prisma-starter-websockets/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/standalone-server/package.json
  lerna.json
  package.json
  packages/client/package.json
  packages/next/package.json
  packages/react/package.json
  packages/server/package.json
  pnpm-lock.yaml
  www/.npmrc
  www/package.json
Owners: @KATT, @trpc-bot, @sachinraja, @trpc/website-docs

.github/CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners


* @KATT @trpc-bot @sachinraja

www/**/* @trpc/website-docs
**/*lambda* @Lilja @KATT

**/package.json @KATT
