Repository TryEverything920609/trqc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KATT, @trpc-bot, @sachinraja, @trpc/website-docs, @skarab42, @Lilja

.github/CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners


* @KATT @trpc-bot @sachinraja

www/**/* @trpc/website-docs
**/*fastify* @skarab42 @KATT
**/*lambda* @Lilja @KATT

**/package.json @KATT

update open-graph image (#2666)
  www/docusaurus.config.js
  www/package.json
  www/static/img/facebook_cover_photo_2.png
  yarn.lock
Owners: @trpc/website-docs, @KATT, @trpc-bot, @sachinraja

fix sync issue with theme (#2664)
  www/docusaurus.config.js
  www/docusaurus.preferredTheme.js
  www/package.json
  yarn.lock
Owners: @trpc/website-docs, @KATT, @trpc-bot, @sachinraja

[www] features expanded (#2668)
  www/src/components/Features.tsx
Owners: @trpc/website-docs

feat: readme header (#2667)
  README.md
Owners: @KATT, @trpc-bot, @sachinraja

feat(www): revamps twitter wall spacing to be more consistent (#2661)
  www/package.json
  www/src/components/TwitterWall/index.tsx
  www/src/components/TwitterWall/script.output.ts
  www/src/components/TwitterWall/script.ts
  www/tailwind.config.js
  yarn.lock
Owners: @KATT, @trpc/website-docs, @trpc-bot, @sachinraja

feat: tighter buttons on mobile (#2673)
  www/src/components/Button.tsx
Owners: @trpc/website-docs

add next-minimal stackblitz-embed (#2670)
  examples/next-minimal-starter/src/pages/api/trpc/[trpc].ts
  examples/next-minimal-starter/src/pages/index.tsx
  examples/next-minimal-starter/src/utils/trpc.ts
  www/src/components/Button.tsx
  www/src/components/GithubStarsButton.tsx
  www/src/components/SectionTitle.tsx
  www/src/css/custom.css
  www/src/pages/index.tsx
Owners: @KATT, @trpc-bot, @sachinraja, @trpc/website-docs

www: just show editor mode
  www/src/pages/index.tsx
Owners: @trpc/website-docs

www: move sections around
  www/src/pages/index.tsx
Owners: @trpc/website-docs

fix: set local storage after mount (#2675)
  www/src/pages/index.tsx
Owners: @trpc/website-docs

example: add some tips
  examples/next-minimal-starter/src/pages/index.tsx
Owners: @KATT, @trpc-bot, @sachinraja

fix: set local storage version with after timeout
  www/src/pages/index.tsx
Owners: @trpc/website-docs

fix(www): localstorage version (#2676)
  www/src/pages/index.tsx
Owners: @trpc/website-docs

docs: updating ssr docs (#2677)
  examples/express-trpc-shield/README.md
  examples/next-prisma-starter/src/utils/trpc.ts
  packages/client/src/internals/TRPCClient.ts
  www/docs/client/header.md
  www/docs/nextjs/ssr.md
  www/versioned_docs/version-9.x/nextjs/ssr.md
Owners: @KATT, @trpc-bot, @sachinraja, @trpc/website-docs

fix: tighten button more + remove `iframe` autofocus (#2678)
  www/src/components/Button.tsx
  www/src/pages/index.tsx
Owners: @trpc/website-docs

fix: sandbox iframe focus (#2680)
  www/src/pages/index.tsx
Owners: @trpc/website-docs

chore: added info about contributing in readme (#2679)
  README.md
Owners: @KATT, @trpc-bot, @sachinraja

docs: sync sponsors
  README.md
  www/src/components/sponsors/script.output.ts
  www/unversioned/_sponsors.mdx
Owners: @KATT, @trpc-bot, @sachinraja, @trpc/website-docs

perf: Remove `OmitNeverKeys` extra computations (#2686)
  examples/next-prisma-starter/src/utils/trpc.ts
  packages/client/src/createTRPCClientProxy.ts
  packages/react/src/createTRPCReact.tsx
  packages/server/src/core/internals/procedureBuilder.ts
  packages/server/src/core/internals/utils.ts
  packages/server/src/core/procedure.ts
  packages/server/src/deprecated/router.ts
  packages/server/src/types.ts
  www/docs/nextjs/ssr.md
  www/versioned_docs/version-9.x/nextjs/ssr.md
Owners: @KATT, @trpc-bot, @sachinraja, @trpc/website-docs

v10.0.0-proxy-alpha.75
  examples/.interop/cloudflare-workers/package.json
  examples/.interop/express-server/package.json
  examples/.interop/fastify-server/package.json
  examples/.interop/lambda-api-gateway/package.json
  examples/.interop/next-minimal-starter-migration/package.json
  examples/.interop/next-minimal-starter/package.json
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/.interop/standalone-server/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal/client/package.json
  examples/minimal/package.json
  examples/minimal/server/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter-sqlite/package.json
  examples/next-prisma-starter-websockets/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/standalone-server/package.json
  lerna.json
  packages/client/package.json
  packages/next/package.json
  packages/react/package.json
  packages/server/package.json
  www/package.json
Owners: @KATT, @trpc-bot, @sachinraja

docs: add anthonyshew as a contributor for doc (#2689)
  .all-contributorsrc
  README.md
Owners: @KATT, @trpc-bot, @sachinraja

docs: add colelawrence as a contributor for code, test, bug (#2690)
  .all-contributorsrc
  README.md
Owners: @KATT, @trpc-bot, @sachinraja

www: update tweet wall
  www/src/components/TwitterWall/script.output.ts
Owners: @trpc/website-docs

tRPC v10 (w/ Fetch Adapter) + SvelteKit example (#2691)
  www/docs/main/awesome-trpc.mdx
Owners: @trpc/website-docs

www/quick-ui-wins (#2692)
  www/src/components/Button.tsx
  www/src/components/Features.tsx
  www/src/components/GithubStarsButton.tsx
  www/src/css/custom.css
  www/src/pages/index.tsx
Owners: @trpc/website-docs

[docs/www] Small fix to context docs example code (#2696)
  www/docs/server/context.md
Owners: @trpc/website-docs

feat(www): adds quick introduction section (#2695)
  www/docs/landing-intro/Step1.md
  www/docs/landing-intro/Step2.md
  www/docs/landing-intro/Step3.md
  www/src/components/QuickIntro.tsx
  www/src/pages/index.tsx
  www/types.d.ts
  yarn.lock
Owners: @trpc/website-docs, @KATT, @trpc-bot, @sachinraja

fix `createTRPCNext` types (#2698)
  packages/next/src/withTRPC.tsx
Owners: @KATT, @trpc-bot, @sachinraja

v10.0.0-proxy-alpha.76
  examples/.interop/cloudflare-workers/package.json
  examples/.interop/express-server/package.json
  examples/.interop/fastify-server/package.json
  examples/.interop/lambda-api-gateway/package.json
  examples/.interop/next-minimal-starter-migration/package.json
  examples/.interop/next-minimal-starter/package.json
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/.interop/standalone-server/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal/client/package.json
  examples/minimal/package.json
  examples/minimal/server/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter-sqlite/package.json
  examples/next-prisma-starter-websockets/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/standalone-server/package.json
  lerna.json
  packages/client/package.json
  packages/next/package.json
  packages/react/package.json
  packages/server/package.json
  www/package.json
Owners: @KATT, @trpc-bot, @sachinraja

www: add border & shadow around `QuickIntro` (#2699)
  www/docs/landing-intro/Step1.md
  www/src/components/Button.tsx
  www/src/components/QuickIntro.tsx
Owners: @trpc/website-docs

fix(www): separate section and section content (#2701)
  www/src/components/QuickIntro.tsx
  www/src/pages/index.tsx
Owners: @trpc/website-docs

fix(www): use version from context (#2704)
  www/src/pages/index.tsx
Owners: @trpc/website-docs

feat(www): query param to specify version (#2705)
  www/src/pages/index.tsx
Owners: @trpc/website-docs

feat(www): docusaurus update (#2706)
  www/package.json
  www/src/pages/index.tsx
  yarn.lock
Owners: @KATT, @trpc/website-docs, @trpc-bot, @sachinraja

feat(www): pull twitter wall
  www/src/components/TwitterWall/script.output.ts
Owners: @trpc/website-docs

Fix changed `yarn db-reset` command in `next-prisma-starter` example `README` (#2710)
  examples/next-prisma-starter/README.md
Owners: @KATT, @trpc-bot, @sachinraja

ts perf: turbo types (#2716)
  packages/client/src/TRPCClientError.ts
  packages/client/src/createTRPCClient.ts
  packages/client/src/createTRPCClientProxy.ts
  packages/client/src/internals/TRPCClient.ts
  packages/react/src/createTRPCReact.tsx
  packages/react/src/shared/hooks/createHooksInternal.tsx
  packages/react/src/shared/proxy/utilsProxy.ts
  packages/react/src/ssg/ssgProxy.ts
  packages/server/src/core/index.ts
  packages/server/src/core/internals/procedureBuilder.ts
  packages/server/src/core/procedure.ts
  packages/server/src/core/router.ts
  packages/server/src/core/types.ts
  packages/server/src/deprecated/interop.ts
  packages/server/src/http/resolveHTTPResponse.ts
  packages/server/src/shared/index.ts
  packages/server/src/types.ts
  scripts/generateBigBoi.ts
  scripts/generateMergeRouters.ts
Owners: @KATT, @trpc-bot, @sachinraja

[docs] Add missing opening bracket (#2720)
  www/docs/server/metadata.md
Owners: @trpc/website-docs

update some react docs (#2719)
  www/docs/reactjs/introduction.md
  www/docs/reactjs/useMutation.md
  www/docs/reactjs/useQuery.md
  www/src/css/custom.css
Owners: @trpc/website-docs

Fix import typo introduction.md (#2727)
  www/versioned_docs/version-9.x/reactjs/introduction.md
Owners: @trpc/website-docs
