Repository TryEverything920609/trqc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KATT, @trpc-bot, @skarab42, @Lilja

.github/CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners


* @KATT


**/package.json @trpc-bot @KATT
**/yarn.lock @trpc-bot @KATT

**/*fastify* @skarab42 @KATT
**/*lambda* @Lilja @KATT

docs: add tomanagle as a contributor for video, talk, tutorial (#2090)
  .all-contributorsrc
  README.md
Owners: @KATT

Chores: Examples TypeScript as devDependency (#2092)
  examples/express-server/package.json
  examples/lambda-api-gateway/package.json
  examples/standalone-server/package.json
Owners: @trpc-bot, @KATT, @Lilja

build(deps): bump shell-quote from 1.7.2 to 1.7.3 (#2093)
  yarn.lock
Owners: @trpc-bot, @KATT

build(deps): bump parse-url from 6.0.0 to 6.0.2 (#2100)
  yarn.lock
Owners: @trpc-bot, @KATT

add subtree
  .github/workflows/subtree-next.yml
Owners: @KATT

fix subtree
  .github/workflows/subtree-next.yml
Owners: @KATT

add stackblitz config
  examples/next-prisma-starter-sqlite/.stackblitzrc
  examples/next-prisma-starter-sqlite/README.md
Owners: @KATT

use codesandbox
  examples/next-prisma-starter-sqlite/README.md
  examples/next-prisma-starter-sqlite/package.json
  examples/next-prisma-starter-sqlite/sandbox.config.json
Owners: @KATT, @trpc-bot

fix codesandbox link
  examples/next-prisma-starter-sqlite/README.md
Owners: @KATT

tweak readme
  examples/next-prisma-starter-sqlite/README.md
Owners: @KATT

tweaks
  examples/next-prisma-starter-sqlite/README.md
Owners: @KATT

fix
  .tmp/v10-docs.md
Owners: @KATT

tweak docs
  .tmp/v10-docs.md
Owners: @KATT

update examples to be easier to read
  .tmp/v10-docs.md
Owners: @KATT

Update README.md (#2054)
  README.md
Owners: @KATT

build(deps): bump next-auth from 4.5.0 to 4.9.0 (#2104)
  yarn.lock
Owners: @trpc-bot, @KATT

tweak
  .tmp/v10-docs.md
Owners: @KATT

tweak docs
  .tmp/v10-docs.md
Owners: @KATT

add todomvc (#2116)
  examples/next-prisma-todomvc/.env
  examples/next-prisma-todomvc/.eslintrc
  examples/next-prisma-todomvc/.gitignore
  examples/next-prisma-todomvc/README.md
  examples/next-prisma-todomvc/jest-playwright.config.js
  examples/next-prisma-todomvc/jest.config.js
  examples/next-prisma-todomvc/next-env.d.ts
  examples/next-prisma-todomvc/next.config.js
  examples/next-prisma-todomvc/package.json
  examples/next-prisma-todomvc/prisma/_sqlite/schema.prisma
  examples/next-prisma-todomvc/prisma/migrations/20210304121245_/migration.sql
  examples/next-prisma-todomvc/prisma/migrations/migration_lock.toml
  examples/next-prisma-todomvc/prisma/schema.prisma
  examples/next-prisma-todomvc/public/favicon.ico
  examples/next-prisma-todomvc/public/powered-by-vercel.svg
  examples/next-prisma-todomvc/public/vercel.svg
  examples/next-prisma-todomvc/sandbox.config.json
  examples/next-prisma-todomvc/src/pages/[filter].tsx
  examples/next-prisma-todomvc/src/pages/_app.tsx
  examples/next-prisma-todomvc/src/pages/api/trpc/[trpc].ts
  examples/next-prisma-todomvc/src/server/context.ts
  examples/next-prisma-todomvc/src/server/createRouter.ts
  examples/next-prisma-todomvc/src/server/routers/_app.ts
  examples/next-prisma-todomvc/src/server/routers/todo.ts
  examples/next-prisma-todomvc/src/utils/prisma.ts
  examples/next-prisma-todomvc/src/utils/trpc.ts
  examples/next-prisma-todomvc/test/playwright.test.ts
  examples/next-prisma-todomvc/tsconfig.json
  examples/next-prisma-todomvc/vercel.json
Owners: @KATT, @trpc-bot

add shared proxy helper (#2109)
  .github/workflows/examples.yml
  .tmp/v10-docs.md
  examples/.interop/cloudflare-workers/package.json
  examples/.interop/express-server/package.json
  examples/.interop/fastify-server/package.json
  examples/.interop/lambda-api-gateway/package.json
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/.interop/standalone-server/package.json
  examples/next-prisma-starter-sqlite/package.json
  examples/next-prisma-starter/package.json
  examples/standalone-server/package.json
  examples/standalone-server/src/client.ts
  lerna.json
  packages/client/package.json
  packages/client/src/createTRPCClient.ts
  packages/client/src/createTRPCClientProxy.ts
  packages/next/package.json
  packages/next/src/setupNext.tsx
  packages/react/package.json
  packages/react/src/createReactQueryHooks.tsx
  packages/react/src/createReactQueryHooksProxy.tsx
  packages/react/src/index.ts
  packages/server/package.json
  packages/server/rollup.config.js
  packages/server/shared/index.d.ts
  packages/server/shared/index.js
  packages/server/src/shared/createProxy/index.ts
  packages/server/src/shared/index.ts
  packages/server/test/___packages.ts
  packages/server/test/___testHelpers.ts
  packages/server/test/bigBoi.test.tsx
  packages/server/test/children.test.ts
  packages/server/test/concat.test.ts
  packages/server/test/interop-basic.test.tsx
  packages/server/test/smoke.test.ts
  packages/server/test/useQuery.test.tsx
Owners: @KATT, @trpc-bot, @skarab42, @Lilja

Update .all-contributorsrc
  .all-contributorsrc
Owners: @KATT

vscode-twoslash-queries `// ^?`
  .vscode/extensions.json
Owners: @KATT

docs: add 3x071c as a contributor for code, test (#2128)
  .all-contributorsrc
  README.md
Owners: @KATT

Update .all-contributorsrc
  .all-contributorsrc
Owners: @KATT

docs: add nextjs minimal example (#2106)
  examples/next-minimal-starter/README.md
  examples/next-minimal-starter/next-env.d.ts
  examples/next-minimal-starter/package.json
  examples/next-minimal-starter/src/pages/_app.tsx
  examples/next-minimal-starter/src/pages/api/trpc/[trpc].ts
  examples/next-minimal-starter/src/pages/index.tsx
  examples/next-minimal-starter/src/utils/trpc.ts
  examples/next-minimal-starter/tsconfig.json
  package.json
  yarn.lock
Owners: @KATT, @trpc-bot

changed sponsor link (#2139)
  README.md
Owners: @KATT

feat: adds more informative package README (#2130)
  packages/client/README.md
  packages/next/README.md
  packages/react/README.md
  packages/server/README.md
Owners: @KATT

docs: add ixahmedxi as a contributor for doc (#2147)
  .all-contributorsrc
  README.md
Owners: @KATT

reset `./interop/examples` according to `main` (#2129)
  examples/.interop/next-prisma-starter-websockets/src/pages/_app.tsx
  examples/.interop/next-prisma-starter-websockets/src/utils/trpc.ts
Owners: @KATT

Doc page for sending cookies cross-origin by editing fetch's arguments (#2141)
  www/docs/client/cors.md
  www/sidebars.js
Owners: @KATT

docs: add EnderSpirit as a contributor for doc (#2151)
  .all-contributorsrc
  README.md
Owners: @KATT

lint fix (#2159)
  www/sidebars.js
Owners: @KATT

Fixes small typo in useInfiniteQuery docs (#2154)
  www/docs/reactjs/useInfiniteQuery.md
Owners: @KATT

chore: update cloudflare-workers example to v10 (#2162)
  .github/workflows/examples.yml
  examples/cloudflare-workers/.gitignore
  examples/cloudflare-workers/README.md
  examples/cloudflare-workers/package.json
  examples/cloudflare-workers/src/client.ts
  examples/cloudflare-workers/src/index.ts
  examples/cloudflare-workers/src/router.ts
  examples/cloudflare-workers/tsconfig.json
  examples/cloudflare-workers/wrangler.toml
  packages/server/package.json
  yarn.lock
Owners: @KATT, @trpc-bot

chore: update fastify-server example to v10 (#2161)
  .github/workflows/examples.yml
  examples/fastify-server/.gitignore
  examples/fastify-server/README.md
  examples/fastify-server/package.json
  examples/fastify-server/sandbox.config.json
  examples/fastify-server/src/client/client.ts
  examples/fastify-server/src/client/index.ts
  examples/fastify-server/src/client/polyfill.ts
  examples/fastify-server/src/config.ts
  examples/fastify-server/src/server/index.ts
  examples/fastify-server/src/server/router/context.ts
  examples/fastify-server/src/server/router/index.ts
  examples/fastify-server/src/server/router/routers/api.ts
  examples/fastify-server/src/server/router/routers/posts.ts
  examples/fastify-server/src/server/router/routers/sub.ts
  examples/fastify-server/src/server/router/trpc.ts
  examples/fastify-server/src/server/server.ts
  examples/fastify-server/tsconfig.json
Owners: @KATT, @skarab42

chore: update express-server example to v10 (#2163)
  .github/workflows/examples.yml
  examples/express-server/README.md
  examples/express-server/package.json
  examples/express-server/src/client.ts
  examples/express-server/src/server.ts
  examples/express-server/tsconfig.json
Owners: @KATT, @trpc-bot

docs: add juliusmarminge as a contributor for example (#2166)
  .all-contributorsrc
  README.md
Owners: @KATT

Use the `OnErrorFunction` type for AWS Lambda adapter's `onError` method (#2167)
  packages/server/src/adapters/aws-lambda/utils.ts
Owners: @Lilja, @KATT

migrate react docs to v10 (#2173)
  www/docs/reactjs/introduction.md
  www/docs/reactjs/invalidateQueries.md
  www/docs/reactjs/ssg-helpers.md
  www/docs/reactjs/useInfiniteQuery.md
  www/docs/reactjs/useMutation.md
  www/docs/reactjs/useQuery.md
Owners: @KATT

docs: add bautistaaa as a contributor for doc, example (#2174)
  .all-contributorsrc
  README.md
Owners: @KATT
