Repository TryEverything920609/trqc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KATT, @trpc-bot, @sachinraja, @trpc/website-docs, @skarab42, @Lilja

fix: typo for migration docs (#2725)
  www/docs/migration/migrate-from-v9-to-v10.mdx
Owners: @trpc/website-docs

refactor: remove client stuff (#2729)
  packages/client/src/createTRPCClient.ts
  packages/client/src/createTRPCClientProxy.ts
  packages/client/src/internals/TRPCClient.ts
  packages/server/test/interop/adapters/fetch.test.ts
  packages/server/test/interop/dataloader.test.ts
  packages/server/test/interop/headers.test.tsx
  packages/server/test/interop/inference.test.ts
  packages/server/test/interop/links.test.ts
  packages/server/test/react/interopBigCompiled.test.tsx
Owners: @KATT, @trpc-bot, @sachinraja

v10.0.0-proxy-alpha.78
  examples/.interop/cloudflare-workers/package.json
  examples/.interop/express-server/package.json
  examples/.interop/fastify-server/package.json
  examples/.interop/lambda-api-gateway/package.json
  examples/.interop/next-minimal-starter-migration/package.json
  examples/.interop/next-minimal-starter/package.json
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/.interop/standalone-server/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal/client/package.json
  examples/minimal/package.json
  examples/minimal/server/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter-sqlite/package.json
  examples/next-prisma-starter-websockets/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/standalone-server/package.json
  lerna.json
  packages/client/package.json
  packages/next/package.json
  packages/react/package.json
  packages/server/package.json
  www/package.json
Owners: @KATT, @trpc-bot, @sachinraja

fix fastify examples (#2733)
  examples/.interop/fastify-server/src/client/client.ts
  examples/fastify-server/src/client/client.ts
  examples/fastify-server/src/client/index.ts
  packages/client/src/TRPCClientError.ts
Owners: @skarab42, @KATT, @trpc-bot, @sachinraja

v10.0.0-proxy-alpha.79
  examples/.interop/cloudflare-workers/package.json
  examples/.interop/express-server/package.json
  examples/.interop/fastify-server/package.json
  examples/.interop/lambda-api-gateway/package.json
  examples/.interop/next-minimal-starter-migration/package.json
  examples/.interop/next-minimal-starter/package.json
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/.interop/standalone-server/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal/client/package.json
  examples/minimal/package.json
  examples/minimal/server/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter-sqlite/package.json
  examples/next-prisma-starter-websockets/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/standalone-server/package.json
  lerna.json
  packages/client/package.json
  packages/next/package.json
  packages/react/package.json
  packages/server/package.json
  www/package.json
Owners: @KATT, @trpc-bot, @sachinraja

v10.0.0-proxy-alpha.80
  examples/.interop/cloudflare-workers/package.json
  examples/.interop/express-server/package.json
  examples/.interop/fastify-server/package.json
  examples/.interop/lambda-api-gateway/package.json
  examples/.interop/next-minimal-starter-migration/package.json
  examples/.interop/next-minimal-starter/package.json
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/.interop/standalone-server/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal/client/package.json
  examples/minimal/package.json
  examples/minimal/server/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter-sqlite/package.json
  examples/next-prisma-starter-websockets/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/standalone-server/package.json
  lerna.json
  packages/client/package.json
  packages/next/package.json
  packages/react/package.json
  packages/server/package.json
  www/package.json
Owners: @KATT, @trpc-bot, @sachinraja

fix bad patch
  packages/client/src/TRPCClientError.ts
Owners: @KATT, @trpc-bot, @sachinraja

v10.0.0-proxy-alpha.81
  examples/.interop/cloudflare-workers/package.json
  examples/.interop/express-server/package.json
  examples/.interop/fastify-server/package.json
  examples/.interop/lambda-api-gateway/package.json
  examples/.interop/next-minimal-starter-migration/package.json
  examples/.interop/next-minimal-starter/package.json
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/.interop/standalone-server/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal/client/package.json
  examples/minimal/package.json
  examples/minimal/server/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter-sqlite/package.json
  examples/next-prisma-starter-websockets/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/standalone-server/package.json
  lerna.json
  packages/client/package.json
  packages/next/package.json
  packages/react/package.json
  packages/server/package.json
  www/package.json
Owners: @KATT, @trpc-bot, @sachinraja

.github/CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners


* @KATT @trpc-bot @sachinraja

www/**/* @trpc/website-docs
**/*fastify* @skarab42 @KATT
**/*lambda* @Lilja @KATT

**/package.json @KATT
