Repository TryEverything920609/trqc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KATT, @trpc-bot, @skarab42, @Lilja

.github/CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners


* @KATT


**/package.json @trpc-bot @KATT
**/yarn.lock @trpc-bot @KATT

**/*fastify* @skarab42 @KATT
**/*lambda* @Lilja @KATT

chore: upgrade next-minimal-starter to v10 (#2169)
  .github/workflows/examples.yml
  examples/.interop/next-minimal-starter/.eslintrc.js
  examples/next-minimal-starter/.eslintrc.js
  examples/next-minimal-starter/README.md
  examples/next-minimal-starter/next-env.d.ts
  examples/next-minimal-starter/package.json
  examples/next-minimal-starter/src/pages/_app.tsx
  examples/next-minimal-starter/src/pages/api/trpc/[trpc].ts
  examples/next-minimal-starter/src/pages/index.tsx
  examples/next-minimal-starter/src/utils/trpc.ts
  examples/next-minimal-starter/tsconfig.json
Owners: @KATT, @trpc-bot

feat(www): adjusts spacing and colors of landing page (#2404)
  www/src/components/Features.tsx
  www/src/components/GithubStarCountButton.tsx
  www/src/css/custom.css
  www/src/pages/index.tsx
Owners: @KATT

feat(www): restyles navbar (#2403)
  www/docusaurus.config.js
  www/src/css/custom.css
  www/src/pages/index.tsx
Owners: @KATT

www(tweet wall): update script and pull latest (#2409)
  www/.gitignore
  www/package.json
  www/src/components/TwitterWall/script.ts
  www/src/components/TwitterWall/tweets.ts
  www/yarn.lock
Owners: @KATT, @trpc-bot

Update SST branding + website (#2411)
  www/docs/main/awesome-trpc.mdx
Owners: @KATT

refactor observable chain to transform in links (#2402)
  .eslintrc
  .github/workflows/main.yml
  .vscode/settings.json
  packages/client/src/TRPCClientError.ts
  packages/client/src/internals/TRPCClient.ts
  packages/client/src/links/dedupeLink.test.ts
  packages/client/src/links/httpBatchLink.ts
  packages/client/src/links/httpLink.ts
  packages/client/src/links/internals/createChain.test.ts
  packages/client/src/links/internals/httpUtils.ts
  packages/client/src/links/internals/transformOperationResult.ts
  packages/client/src/links/internals/transformResult.ts
  packages/client/src/links/loggerLink.ts
  packages/client/src/links/retryLink.ts
  packages/client/src/links/types.ts
  packages/client/src/links/wsLink.ts
  packages/server/src/rpc/envelopes.ts
  packages/server/test/interop/links.test.ts
Owners: @KATT

fix `labeler.yml`
  .github/labeler.yml
Owners: @KATT

fix error inference (#2415)
  examples/.interop/cloudflare-workers/package.json
  examples/.interop/express-server/package.json
  examples/.interop/fastify-server/package.json
  examples/.interop/lambda-api-gateway/package.json
  examples/.interop/next-minimal-starter/package.json
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/.interop/standalone-server/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter-sqlite/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/standalone-server/package.json
  lerna.json
  packages/client/package.json
  packages/client/src/TRPCClientError.ts
  packages/next/package.json
  packages/react/package.json
  packages/react/src/createReactQueryHooksProxy.tsx
  packages/server/jest.config.js
  packages/server/package.json
  packages/server/test/react/__reactHelpers.tsx
  packages/server/test/react/bigBoi.test.tsx
  packages/server/test/react/errors.test.tsx
  packages/server/test/react/interop-basic.test.tsx
  packages/server/test/react/useContext.test.tsx
  packages/server/test/react/useMutation.test.tsx
  packages/server/test/react/useQuery.test.tsx
  packages/server/test/react/useSubscription.test.tsx
Owners: @trpc-bot, @KATT, @skarab42, @Lilja

fix labeler (#2419)
  .github/labeler.yml
Owners: @KATT

fix: typo in code (#2321)
  www/docs/client/cors.md
Owners: @KATT

build(deps): bump next-auth from 4.9.0 to 4.10.3 (#2353)
  yarn.lock
Owners: @trpc-bot, @KATT

build(deps): bump @trivago/prettier-plugin-sort-imports from 3.2.0 to 3.3.0 (#2427)
  yarn.lock
Owners: @trpc-bot, @KATT

build(deps-dev): bump nodemon from 2.0.15 to 2.0.19 (#2428)
  yarn.lock
Owners: @trpc-bot, @KATT

build(deps): bump @changesets/cli from 2.22.0 to 2.24.2 (#2430)
  yarn.lock
Owners: @trpc-bot, @KATT

build(deps): bump jsdom from 19.0.0 to 20.0.0 (#2431)
  package.json
  yarn.lock
Owners: @trpc-bot, @KATT

build(deps): bump @babel/plugin-proposal-class-properties from 7.16.7 to 7.18.6 (#2432)
  yarn.lock
Owners: @trpc-bot, @KATT

fix(PR-Template): Update Contributing guide link (#2426)
  .github/pull_request_template.md
Owners: @KATT

build(deps): bump @testing-library/react from 13.1.1 to 13.3.0 (#2434)
  yarn.lock
Owners: @trpc-bot, @KATT

build(deps): bump @babel/plugin-transform-runtime from 7.17.0 to 7.18.10 (#2436)
  yarn.lock
Owners: @trpc-bot, @KATT

build(deps-dev): bump @types/ws from 8.5.2 to 8.5.3 (#2437)
  yarn.lock
Owners: @trpc-bot, @KATT

add trpc + fresh example to awesome list (#2439)
  www/docs/main/awesome-trpc.mdx
Owners: @KATT

fix nodemon wait-on scripts (#2438)
  examples/.interop/express-server/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
Owners: @trpc-bot, @KATT

build(deps-dev): bump eslint-config-next from 12.1.6 to 12.2.5 (#2445)
  yarn.lock
Owners: @trpc-bot, @KATT

docs: Added useTRPC() Vue 3 composable entry to awesome-trpc.mdx. (#2444)
  www/docs/main/awesome-trpc.mdx
Owners: @KATT

Update migrate-from-v9-to-v10.mdx (#2452)
  www/docs/migration/migrate-from-v9-to-v10.mdx
Owners: @KATT

Update SSG helpers docs (#2449)
  www/docs/reactjs/ssg-helpers.md
Owners: @KATT

Update aws-lambda.md (#2423)
  www/docs/server/aws-lambda.md
Owners: @Lilja, @KATT

add retries to flaky test (#2454)
  packages/server/test/websockets.test.ts
Owners: @KATT

add proxy ssg helpers (#2451)
  package.json
  packages/react/package.json
  packages/react/src/ssg/index.ts
  packages/react/src/ssg/ssg.ts
  packages/react/src/ssg/ssgProxy.ts
  packages/server/package.json
  packages/server/test/react/ssg.test.ts
  rollup.config.ts
  www/docs/nextjs/ssg.md
  www/docs/reactjs/ssg-helpers.md
  yarn.lock
Owners: @trpc-bot, @KATT

add Create caller docs (#2433)
  www/docs/server/server-side-calls.md
  www/sidebars.js
Owners: @KATT

docs: add gioboa as a contributor for doc (#2457)
  .all-contributorsrc
  README.md
Owners: @KATT

feat: Move client context to trpc object (#2425)
  examples/.interop/cloudflare-workers/package.json
  examples/.interop/express-server/package.json
  examples/.interop/fastify-server/package.json
  examples/.interop/lambda-api-gateway/package.json
  examples/.interop/next-minimal-starter/package.json
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/.interop/standalone-server/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter-sqlite/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/standalone-server/package.json
  lerna.json
  packages/client/package.json
  packages/client/src/internals/TRPCClient.ts
  packages/next/package.json
  packages/react/package.json
  packages/react/src/createReactQueryHooks.tsx
  packages/server/package.json
  packages/server/test/interop/react/useMutation.test.tsx
  packages/server/test/interop/react/useQuery.test.tsx
  packages/server/test/interop/react/withTRPC.test.tsx
  packages/server/test/react/__reactHelpers.tsx
  packages/server/test/react/errors.test.tsx
  packages/server/test/react/trpc-options.test.tsx
  packages/server/test/react/useContext.test.tsx
  www/docs/client/links.md
  www/docs/migration/migrate-from-v9-to-v10.mdx
  yarn.lock
Owners: @trpc-bot, @KATT, @skarab42, @Lilja

build(deps): bump @testing-library/user-event from 14.1.1 to 14.4.3 (#2461)
  yarn.lock
Owners: @trpc-bot, @KATT

Documentation fix: useInfiniteQuery (#2465)
  www/docs/reactjs/useInfiniteQuery.md
Owners: @KATT
