Repository TryEverything920609/trqc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KATT, @trpc-bot, @skarab42, @Lilja

.github/CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners


* @KATT


**/package.json @trpc-bot @KATT
**/yarn.lock @trpc-bot @KATT

**/*fastify* @skarab42 @KATT
**/*lambda* @Lilja @KATT

fix(www): readable announcement bar text color on both light/dark mode (#2239)
  www/docusaurus.config.js
  www/package.json
  www/yarn.lock
Owners: @KATT, @trpc-bot

lock `@trpc/react` to`react-query` `^3` (#2245)
  .github/workflows/main.yml
  package.json
  packages/next/package.json
  packages/react/package.json
  packages/server/jest.config.js
  packages/server/jest.setup.js
  yarn.lock
Owners: @KATT, @trpc-bot

v9.26.2
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter-websockets/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/standalone-server/package.json
  lerna.json
  packages/client/package.json
  packages/next/package.json
  packages/react/package.json
  packages/server/package.json
Owners: @trpc-bot, @KATT, @skarab42, @Lilja

Update sponsors.md
  www/docs/main/sponsors.md
Owners: @KATT

Added tRPC + Next.js Shopify app template (#2255)
  www/docs/main/awesome-trpc.mdx
Owners: @KATT

docs: add carstenlebek as a contributor for example (#2256)
  .all-contributorsrc
  README.md
Owners: @KATT

build(deps): bump terser from 5.9.0 to 5.14.2 in /www (#2265)
  www/yarn.lock
Owners: @trpc-bot, @KATT

build(deps): bump terser from 5.7.2 to 5.14.2 (#2266)
  yarn.lock
Owners: @trpc-bot, @KATT

Updates Cal.com link (#2264)
  www/docs/main/awesome-trpc.mdx
Owners: @KATT

docs: add version-tag to react-query in installation snippets (#2262)
  www/docs/main/quickstart.mdx
  www/docs/nextjs/introduction.md
  www/docs/reactjs/introduction.md
Owners: @KATT

fix(www): sync docusaurus and tailwind dark mode (#2271)
  www/src/pages/index.tsx
  www/tailwind.config.js
Owners: @KATT

feat(www): uses new logo for favicon and navbar icon (#2272)
  www/docusaurus.config.js
  www/static/img/favicon.ico
  www/static/img/logo.svg
  www/static/img/undraw_docusaurus_mountain.svg
  www/static/img/undraw_docusaurus_react.svg
  www/static/img/undraw_docusaurus_tree.svg
Owners: @KATT

upgrade to `react-query@^3.9.2` (#2279)
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter-websockets/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  packages/next/package.json
  packages/react/package.json
  packages/server/test/react.test.tsx
  yarn.lock
Owners: @trpc-bot, @KATT

feat(www): implements new features section (#2287)
  www/package.json
  www/src/components/Features.tsx
  www/src/components/GithubStarCountButton.tsx
  www/src/components/SectionTitle.tsx
  www/src/css/custom.css
  www/src/pages/index.tsx
  www/yarn.lock
Owners: @trpc-bot, @KATT

animate github numbers
  www/package.json
  www/src/components/GithubStarCountButton.tsx
  www/yarn.lock
Owners: @trpc-bot, @KATT

attempt to get it to not jerk
  www/src/components/GithubStarCountButton.tsx
Owners: @KATT

Added uWebSockets adapter to awesome tRPC (#2289)
  www/docs/main/awesome-trpc.mdx
Owners: @KATT

transition width of button
  www/src/components/GithubStarCountButton.tsx
Owners: @KATT

fix
  www/src/components/GithubStarCountButton.tsx
Owners: @KATT

tweak
  www/src/components/GithubStarCountButton.tsx
Owners: @KATT

tweak
  www/src/components/GithubStarCountButton.tsx
Owners: @KATT

what what
  www/src/components/GithubStarCountButton.tsx
Owners: @KATT

awful hacks
  www/src/components/GithubStarCountButton.tsx
Owners: @KATT

refactor(www): GithubStarCountButton styling adjustments
  www/src/components/GithubStarCountButton.tsx
Owners: @KATT

Spelling nit (#2295)
  .tmp/v10-docs.md
Owners: @KATT

tweak hover
  www/src/components/GithubStarCountButton.tsx
Owners: @KATT

tweak
  www/src/components/GithubStarCountButton.tsx
Owners: @KATT

feat(www): implements description section (#2294)
  www/src/components/SectionTitle.tsx
  www/src/pages/index.tsx
Owners: @KATT

refactor(www): some small spacing adjustments & more flexible SectionTitle (#2293)
  www/src/components/Features.tsx
  www/src/components/GithubStarCountButton.tsx
  www/src/components/SectionTitle.tsx
  www/src/pages/index.tsx
Owners: @KATT

tweak github star button
  www/src/components/GithubStarCountButton.tsx
Owners: @KATT

docs: add chrisbradleydev as a contributor for financial (#2297)
  .all-contributorsrc
  README.md
Owners: @KATT

docs: add Sven1106 as a contributor for financial (#2298)
  .all-contributorsrc
  README.md
Owners: @KATT

docs: add iway1 as a contributor for financial (#2299)
  .all-contributorsrc
  README.md
Owners: @KATT

docs: add prisma as a contributor for financial (#2300)
  .all-contributorsrc
  README.md
Owners: @KATT

tweak sponsor grid layout (#2301)
  README.md
  www/docs/main/sponsors.md
Owners: @KATT

docs: rewrite docs for type inference (#2286)
  www/docs/server/infer-types.md
Owners: @KATT

v10.0.0-alpha.39
  examples/.interop/cloudflare-workers/package.json
  examples/.interop/express-server/package.json
  examples/.interop/fastify-server/package.json
  examples/.interop/lambda-api-gateway/package.json
  examples/.interop/next-minimal-starter/package.json
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/.interop/standalone-server/package.json
  examples/cloudflare-workers/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/next-prisma-starter-sqlite/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/standalone-server/package.json
  lerna.json
  packages/client/package.json
  packages/next/package.json
  packages/react/package.json
  packages/server/package.json
Owners: @trpc-bot, @KATT, @skarab42, @Lilja

fix(docs): double slash comment was misaligned (#2304)
  www/docs/server/infer-types.md
Owners: @KATT

docs: Remove duplicate word in rpc.md (#2310)
  www/docs/further/rpc.md
Owners: @KATT

treat `undefined` the same as omitting `input` (#2302)
  packages/react/src/createReactQueryHooksProxy.tsx
Owners: @KATT
