Repository TryEverything920609/trqc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KATT, @trpc-bot, @sachinraja, @trpc/website-docs, @Lilja

remove root trpc dependencies (#2794)
  package.json
  pnpm-lock.yaml
Owners: @KATT, @trpc-bot, @sachinraja

fix prisma and playwright in CI (#2795)
  .github/workflows/codeql-analysis.yml
  .github/workflows/examples-old-nodes.yml
  .github/workflows/examples.yml
  .github/workflows/lint.yml
  .github/workflows/main.yml
  .github/workflows/subtree-next.yml
  .github/workflows/subtree.yml
  .pnpmfile.cjs
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/next-prisma-starter-websockets/package.json
  examples/next-prisma-starter/prisma/seed.ts
  examples/next-prisma-starter/src/server/prisma.ts
  examples/next-prisma-starter/src/server/routers/post.ts
  examples/next-prisma-todomvc/package.json
  package.json
  pnpm-lock.yaml
  scripts/patchPrismaClient.ts
Owners: @KATT, @trpc-bot, @sachinraja

docs: Update tRPC docs link for SSR Headers in example (#2797)
  examples/next-prisma-starter/src/utils/trpc.ts
Owners: @KATT, @trpc-bot, @sachinraja

fix(www): use pnpm in README commands (#2792)
  www/README.md
Owners: @trpc/website-docs

feat(www): social icons (#2787)
  www/docusaurus.config.js
  www/src/css/custom.css
Owners: @trpc/website-docs

limit concurrent postinstall scripts in CI (#2800)
  .github/workflows/examples-old-nodes.yml
  .github/workflows/examples.yml
  .github/workflows/lint.yml
  .github/workflows/main.yml
Owners: @KATT, @trpc-bot, @sachinraja

improve dx for type inference (#2536)
  packages/server/src/core/types.ts
  www/docs/server/infer-types.md
Owners: @KATT, @trpc-bot, @sachinraja, @trpc/website-docs

remove unnecessary no hoist (#2801)
  .pnpmfile.cjs
  pnpm-lock.yaml
Owners: @KATT, @trpc-bot, @sachinraja

adjust fetch-depth (#2802)
  .github/workflows/examples.yml
  .github/workflows/main.yml
  .github/workflows/subtree-next.yml
  .github/workflows/subtree.yml
Owners: @KATT, @trpc-bot, @sachinraja

chore(www): update tweet wall (#2803)
  www/src/components/TwitterWall/script.output.ts
Owners: @trpc/website-docs

chore(www): update sponsors
  www/src/components/sponsors/script.output.ts
Owners: @trpc/website-docs

chore(ci): optimize CI installs (#2808)
  .github/workflows/examples-old-nodes.yml
  .github/workflows/examples.yml
  .github/workflows/lint.yml
  .github/workflows/main.yml
  package.json
  packages/client/package.json
  packages/server/package.json
  pnpm-lock.yaml
Owners: @KATT, @trpc-bot, @sachinraja

copy: more professional banner phrasing (#2805)
  www/src/theme/DocVersionBanner/index.tsx
Owners: @trpc/website-docs

docs(ssg-helpers): Improve SSG helpers with `prefetch` vs. `fetch` and real context creation (#2811)
  www/docs/nextjs/ssg-helpers.md
Owners: @trpc/website-docs

fix(www): nextjs usage config markdown (#2739)
  www/docs/nextjs/introduction.md
Owners: @trpc/website-docs

v10 migration guide cleanup (#2816)
  www/docs/migration/migrate-from-v9-to-v10.mdx
  www/docs/server/infer-types.md
  www/src/css/custom.css
Owners: @trpc/website-docs

v10.0.0-proxy-beta.8
  examples/.interop/cloudflare-workers/package.json
  examples/.interop/express-server/package.json
  examples/.interop/fastify-server/package.json
  examples/.interop/lambda-api-gateway/package.json
  examples/.interop/next-minimal-starter-migration/package.json
  examples/.interop/next-minimal-starter/package.json
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/.interop/standalone-server/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal/client/package.json
  examples/minimal/package.json
  examples/minimal/server/package.json
  examples/next-big-router/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter-sqlite/package.json
  examples/next-prisma-starter-websockets/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/standalone-server/package.json
  lerna.json
  packages/client/package.json
  packages/next/package.json
  packages/react/package.json
  packages/server/package.json
  pnpm-lock.yaml
  www/package.json
Owners: @KATT, @trpc-bot, @sachinraja

fix `createCaller` inference for interop (#2827)
  packages/server/src/core/router.ts
  packages/server/test/regression/issue-2824-createCaller.test.ts
Owners: @KATT, @trpc-bot, @sachinraja

v10.0.0-proxy-beta.9
  examples/.interop/cloudflare-workers/package.json
  examples/.interop/express-server/package.json
  examples/.interop/fastify-server/package.json
  examples/.interop/lambda-api-gateway/package.json
  examples/.interop/next-minimal-starter-migration/package.json
  examples/.interop/next-minimal-starter/package.json
  examples/.interop/next-prisma-starter-websockets/package.json
  examples/.interop/next-prisma-starter/package.json
  examples/.interop/next-prisma-todomvc/package.json
  examples/.interop/standalone-server/package.json
  examples/cloudflare-workers/package.json
  examples/express-minimal/package.json
  examples/express-server/package.json
  examples/fastify-server/package.json
  examples/lambda-api-gateway/package.json
  examples/minimal/client/package.json
  examples/minimal/package.json
  examples/minimal/server/package.json
  examples/next-big-router/package.json
  examples/next-minimal-starter/package.json
  examples/next-prisma-starter-sqlite/package.json
  examples/next-prisma-starter-websockets/package.json
  examples/next-prisma-starter/package.json
  examples/next-prisma-todomvc/package.json
  examples/standalone-server/package.json
  lerna.json
  packages/client/package.json
  packages/next/package.json
  packages/react/package.json
  packages/server/package.json
  pnpm-lock.yaml
  www/package.json
Owners: @KATT, @trpc-bot, @sachinraja

Changed 'customize' to 'customized'(Typo fix) (#2826)
  www/versioned_docs/version-9.x/client/header.md
Owners: @trpc/website-docs

added create-jd-app to awesome-trpc (#2817)
  www/docs/main/awesome-trpc.mdx
Owners: @trpc/website-docs

add repro link (#2821)
  .github/ISSUE_TEMPLATE/1.bug_report.yml
Owners: @KATT, @trpc-bot, @sachinraja

removes access to queryclient via context (#2823)
  packages/next/src/createTRPCNext.tsx
  packages/react/src/internals/context.tsx
  packages/react/src/shared/proxy/utilsProxy.ts
Owners: @KATT, @trpc-bot, @sachinraja

support `asdf` version manager (#2841)
  .tool-versions
Owners: @KATT, @trpc-bot, @sachinraja

.github/CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners


* @KATT @trpc-bot @sachinraja

www/**/* @trpc/website-docs
**/*lambda* @Lilja @KATT

**/package.json @KATT
