Repository TryEverything920609/trqc, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“š documentation / examples, ðŸ•¸ www, @trpc/server, @trpc/client, @trpc/next, @trpc/react

fix wss example type error (#2400)
  examples/next-prisma-starter-websockets/src/pages/api/auth/[...nextauth].ts
Labels: ðŸ“š documentation / examples, ðŸ•¸ www

Fix error code conditional (#2399)
  www/docs/server/error-formatting.md
Labels: ðŸ“š documentation / examples, ðŸ•¸ www

Added Remix adapter to awesome tRPC (#2401)
  www/docs/main/awesome-trpc.mdx
Labels: ðŸ“š documentation / examples, ðŸ•¸ www

chore: upgrade next-minimal-starter to v10 (#2169)
  .github/workflows/examples.yml
  examples/.interop/next-minimal-starter/.eslintrc.js
  examples/next-minimal-starter/.eslintrc.js
  examples/next-minimal-starter/README.md
  examples/next-minimal-starter/next-env.d.ts
  examples/next-minimal-starter/package.json
  examples/next-minimal-starter/src/pages/_app.tsx
  examples/next-minimal-starter/src/pages/api/trpc/[trpc].ts
  examples/next-minimal-starter/src/pages/index.tsx
  examples/next-minimal-starter/src/utils/trpc.ts
  examples/next-minimal-starter/tsconfig.json
Labels: ðŸ“š documentation / examples, ðŸ•¸ www

feat(www): adjusts spacing and colors of landing page (#2404)
  www/src/components/Features.tsx
  www/src/components/GithubStarCountButton.tsx
  www/src/css/custom.css
  www/src/pages/index.tsx
Labels: ðŸ•¸ www

feat(www): restyles navbar (#2403)
  www/docusaurus.config.js
  www/src/css/custom.css
  www/src/pages/index.tsx
Labels: ðŸ•¸ www

www(tweet wall): update script and pull latest (#2409)
  www/.gitignore
  www/package.json
  www/src/components/TwitterWall/script.ts
  www/src/components/TwitterWall/tweets.ts
  www/yarn.lock
Labels: ðŸ•¸ www

Update SST branding + website (#2411)
  www/docs/main/awesome-trpc.mdx
Labels: ðŸ“š documentation / examples, ðŸ•¸ www

refactor observable chain to transform in links (#2402)
  .eslintrc
  .github/workflows/main.yml
  .vscode/settings.json
  packages/client/src/TRPCClientError.ts
  packages/client/src/internals/TRPCClient.ts
  packages/client/src/links/dedupeLink.test.ts
  packages/client/src/links/httpBatchLink.ts
  packages/client/src/links/httpLink.ts
  packages/client/src/links/internals/createChain.test.ts
  packages/client/src/links/internals/httpUtils.ts
  packages/client/src/links/internals/transformOperationResult.ts
  packages/client/src/links/internals/transformResult.ts
  packages/client/src/links/loggerLink.ts
  packages/client/src/links/retryLink.ts
  packages/client/src/links/types.ts
  packages/client/src/links/wsLink.ts
  packages/server/src/rpc/envelopes.ts
  packages/server/test/interop/links.test.ts
Labels: ðŸ•¸ www, @trpc/server, @trpc/client

.github/labeler.yml:

'ðŸ“š documentation / examples':
  - www/docs/**
  - examples/**
'ðŸ•¸ www':
  - www/**
  - '!www/docs/**'
'@trpc/server':
  - packages/server/**
'@trpc/client':
  - packages/client/**
'@trpc/next':
  - packages/next/**
'@trpc/react':
  - packages/react/**
